<template>
  <!-- content -->
  <div>
    <q-dialog v-model="showDialog" persistent width="380">
      <q-card :dark="dark">
        <q-card-section horizontal>
          <q-item :dark="dark">
            <q-item-section>
              <q-item-label class="text-h6">Добавление задачи</q-item-label>
            </q-item-section>
          </q-item>
        </q-card-section>
        <q-card-section>
          <q-form ref="myForm" class="q-gutter-md" @reset="onReset" @submit="addTasko">
            <q-select
              v-if="kategorioj"
              v-model="kategorioId"
              :option-label="
                (item) => (Object(item) === item ? item.node.nomo.enhavo : 'Основная*')
              "
              :option-value="(item) => (Object(item) === item ? item.node.objId : null)"
              :options="kategorioj.edges"
              :dark="dark"
              emit-value
              label="Категории"
              map-options
              multiple
              outlined
            />
            <q-select
              v-if="tipoj"
              v-model="tipoId"
              :option-label="
                (item) => (Object(item) === item ? item.node.nomo.enhavo : 'Основной*')
              "
              :option-value="(item) => (Object(item) === item ? item.node.objId : null)"
              :options="tipoj.edges"
              :dark="dark"
              emit-value
              label="Тип"
              map-options
              outlined
            />
            <q-select
              v-if="statusoj"
              v-model="statusoId"
              :option-label="
                (item) => (Object(item) === item ? item.node.nomo.enhavo : 'Активный*')
              "
              :option-value="(item) => (Object(item) === item ? item.node.objId : null)"
              :options="statusoj.edges"
              :dark="dark"
              emit-value
              label="Статус"
              map-options
              outlined
            />
            <q-input
              v-model="nomo"
              :rules="[(val) => (val && val.length > 0) || 'Напишите что-нибудь, пожалуйста']"
              :dark="dark"
              label="Название задачи"
              lazy-rules
              outlined
            ></q-input>
            <q-input
              v-model="priskribo"
              :rules="[(val) => (val && val.length > 0) || 'Напишите что-нибудь, пожалуйста']"
              :dark="dark"
              label="Описание задачи"
              lazy-rules
              outlined
            ></q-input>
            <q-btn :disabled="false" color="positive" type="submit"> Создать задачу </q-btn>
            <q-btn :disabled="false" color="negative" type="reset"> Закрыть </q-btn>
          </q-form>
        </q-card-section>
      </q-card>
    </q-dialog>
  </div>
</template>
<script>
import { mapGetters } from 'vuex'
import { Loading } from 'quasar'

export default {
  name: 'AddTasko',
  props: {
    uuid: {
      type: String,
      required: true
    },
    showDialog: {
      type: Boolean,
      required: true
    }
  },
  data() {
    return {
      nomo: '',
      priskribo: '',
      kategorioId: [1],
      tipoId: 1,
      statusoId: 1
    }
  },
  methods: {
    onReset() {
      this.nomo = ''
      this.priskribo = ''
      this.kategorioId = [1]
      this.statusoId = 1
      this.tipoId = 1
      // таймаут или raf чтобы не было ошибки Error in nextTick: "TypeError: Cannot read property 'validate' of null"
      // requestAnimationFrame(() => {
      //   this.$emit('update:showDialog', false);
      // });
      setTimeout(() => {
        this.$emit('update:showDialog', false)
      }, 16)
    },
    addTasko() {
      const { nomo, kategorioId, tipoId, statusoId, priskribo } = this.$data
      this.$refs.myForm.validate().then((success) => {
        if (success) {
          this.$store
            .dispatch('tasko/addTasko', {
              nomo: nomo,
              kategorio: kategorioId,
              tipoId: tipoId,
              statusoId: statusoId,
              priskribo: priskribo,
              projektoUuid: this.uuid
            })
            .then(() => {
              this.onReset()
            })
        } else {
          console.log('Заполните обязательные поля')
        }
      })
    }
  },

  created() {
    this.$store.dispatch('taskoj/fetchKategorioj')
    this.$store.dispatch('taskoj/fetchStatusoj')
    this.$store.dispatch('taskoj/fetchTipoj')
  },

  computed: {
    ...mapGetters({
      user: 'siriusoauth/user',
      kategorioj: 'taskoj/getKategorioj',
      statusoj: 'taskoj/getStatusoj',
      tipoj: 'taskoj/getTipoj',
      isLoading: 'UIstore/getIsLoading',
      dark: 'UIstore/getDark'
    })
  }
}
</script>
