<template>
  <div>
    <q-card-actions v-if="canChange">
      <q-btn color="accent" icon="delete_sweep" round size="md" @click="delProjekto">
        <q-tooltip content-class="bg-accent">Удалить проект</q-tooltip>
      </q-btn>
      <q-btn color="accent" icon="archive" round size="md" @click="arkProjekto">
        <q-tooltip content-class="bg-accent">Архивировать проект</q-tooltip>
      </q-btn>
      <q-btn
        v-if="canChange"
        color="accent"
        size="md"
        :icon="!readOnly ? 'lock' : 'lock_open'"
        round
        @click="readOnly = !readOnly"
      >
        <q-tooltip content-class="bg-accent">Редактировать проект</q-tooltip>
      </q-btn>
    </q-card-actions>
    <!--    <quasar-tiptap-editor :content="item"
                              :editable="!readOnly"
                              class="link-in-text "
                              :class="{'link-in-text-symbol__dark':dark, 'link-in-text-symbol__light':!dark,}"
                              @setjson="json=$event"></quasar-tiptap-editor>-->
    <q-input v-model="nomo" :readonly="!readOnly" class="editor-title"></q-input>
    <tiptap
      v-model:content="item"
      v-model:json="json"
      v-model:editable="readOnly"
      class="link-in-text"
      :class="{ 'link-in-text-symbol__dark': dark, 'link-in-text-symbol__light': !dark }"
    />
  </div>
</template>
<script>
import { confirmDialogParams, isJson } from 'src/utils'
import Tiptap from 'components/TiptapEditor/Tiptap.vue'

export default {
  name: 'projekto-projekto',
  components: { Tiptap },
  props: {
    canChange: { type: Boolean },
    projekto: { type: Object },
    uuid: { type: String },
    dark: { type: Boolean }
  },
  data() {
    return {
      item: '',
      json: null,
      readOnly: false,
      isJson,
      nomo: null
    }
  },
  methods: {
    delProjekto() {
      this.$q
        .dialog({
          message: `Удаляем проект: ${this.projektoNomo}`,
          ...confirmDialogParams,
          dark: this.dark
        })
        .onOk(() => {
          this.$store
            .dispatch('projekto/delProjekto', { id: this.uuid })
            .then(() => this.$router.push({ path: '/gp' }))
        })
    },

    arkProjekto() {
      this.$q
        .dialog({
          message: `Архивируем проект: ${this.projektoNomo}`,
          ...confirmDialogParams,
          dark: this.dark
        })
        .onOk(() => {
          this.$store
            .dispatch('projekto/arkProjekto', { id: this.uuid })
            .then(() => this.$router.push({ path: '/gp' }))
        })
    },

    changeProjekto() {
      const props = { uuid: this.uuid }
      if (this.json !== null) {
        const nomoChanged = this.nomo !== this.projekto.edges[0].node.nomo.enhavo
        const jsonStringified = JSON.stringify(this.json)
        const priskriboChanged = jsonStringified !== this.projekto.edges[0].node.priskribo.enhavo

        if (nomoChanged) {
          props.nomo = this.nomo
        }
        if (priskriboChanged) {
          props.priskribo = jsonStringified
        }

        if (nomoChanged || priskriboChanged) {
          try {
            this.$store.dispatch('projekto/changeProjekto', props)
          } catch (e) {
            console.log('ошибка', e, this.json)
          }
        } else console.log('без изменений')
      } else console.log('без изменений')
    },

    fillProjekto() {
      if (this.projekto?.edges[0]) {
        // console.log(this.projekto.edges[0].node.nomo.enhavo);

        this.nomo = this.projekto.edges[0].node.nomo.enhavo
        this.item = this.projekto.edges[0].node.priskribo.enhavo
      }
    }
  },
  watch: {
    projekto: function () {
      this.fillProjekto()
    },
    readOnly: function (cur, old) {
      if (!cur && old === true) {
        this.changeProjekto()
      }
    }
  },
  computed: {
    projektoNomo() {
      return this.projekto?.edges[0]?.node?.nomo?.enhavo
    }
  },

  mounted() {
    this.fillProjekto()
  }
}
</script>
<style lang="scss">
.editor-title {
  font-size: x-large;
  background-color: $accent;
}
</style>
