<template>
  <div>
    <q-card-actions :class="{ 'q-px-none': !$q.screen.gt.xs }" class="q-pr-none no-wrap">
      <q-btn v-if="canChange" color="accent" icon="add_task" round size="md" @click="showDialogOn">
        <q-tooltip content-class="bg-accent">Создать задачу</q-tooltip>
      </q-btn>
      <q-space />
      <q-card
        flat
        :class="{ 'style-card': $q.screen.gt.xs, mobile: !$q.screen.gt.xs }"
        class="q-pl-sm"
      >
        <q-card-section horizontal>
          <q-select
            class="col justify-around q-my-auto"
            v-if="statusoj"
            v-model="statusoId"
            :dark="dark"
            :option-label="(item) => (Object(item) === item ? item.node.nomo.enhavo : '*')"
            :option-value="(item) => (Object(item) === item ? item.node.objId : 1)"
            :options="statusoj.edges"
            dense
            emit-value
            use-chips
            label="Статус"
            map-options
            outlined
            multiple
          />
          <q-card-actions vertical v-if="$q.screen.gt.xs" class="q-pr-none">
            <q-btn color="accent" icon="add_task" size="xs" @click="setStatusoFilter('all')">
              <q-tooltip content-class="bg-accent">Все</q-tooltip>
            </q-btn>
            <q-space />
            <q-btn
              color="accent"
              icon="add_task"
              size="xs"
              @click="setStatusoFilter('withoutClosed')"
            >
              <q-tooltip content-class="bg-accent">Кроме закрытых</q-tooltip>
            </q-btn>
            <q-space />
            <q-btn color="accent" icon="add_task" size="xs" @click="setStatusoFilter('closed')">
              <q-tooltip content-class="bg-accent">Закрытые</q-tooltip>
            </q-btn>
          </q-card-actions>
        </q-card-section>
      </q-card>
    </q-card-actions>
    <q-card
      :dark="dark"
      class="my-card"
      flat
      bordered
      v-for="(tasko, idx) of filteredTasko"
      :key="idx + 'edges'"
    >
      <list-item
        :to="'/p' + prkt.objId + '/' + tasko.node.objId"
        :dark="dark"
        :label="tasko.node.nomo.enhavo"
        :caption="itemPriscriboContent(tasko.node.priskribo.enhavo)"
      >
        <q-item-section v-if="$q.screen.gt.xs" side>
          <q-item-label caption>Статус: {{ tasko.node.statuso.nomo.enhavo }}</q-item-label>
          <q-item-label caption>Тип: {{ tasko.node.tipo.nomo.enhavo }}</q-item-label>
          <q-item-label caption
            >{{ `${tasko.node.kategorio.edges.length > 1 ? 'Категории' : 'Категория'}:` }}
          </q-item-label>
          <q-item-label caption
            >{{ `${kategorioToText(tasko.node.kategorio.edges)}` }}
          </q-item-label>
        </q-item-section>
        <q-item-section v-if="canChange" side>
          <q-btn
            color="accent"
            icon="delete_sweep"
            round
            size="md"
            @click.prevent="deleteTasko(tasko.node)"
          >
            <q-tooltip content-class="bg-accent">Удалить</q-tooltip>
          </q-btn>
        </q-item-section>
        <q-item-section v-if="canChange" side>
          <q-btn
            color="accent"
            icon="archive"
            round
            size="md"
            @click.prevent="arkTasko(tasko.node)"
          >
            <q-tooltip content-class="bg-accent">Архивировать</q-tooltip>
          </q-btn>
        </q-item-section>
      </list-item>
    </q-card>
  </div>
</template>
<script>
import ListItem from 'components/Items/ListItem'
import { confirmDialogParams, itemPriscriboContent } from 'src/utils'
import { mapGetters } from 'vuex'

export default {
  name: 'projekto-taskoj',
  components: { ListItem },
  props: {
    canChange: Boolean,
    prkt: Object,
    showDialog: Boolean,
    dark: Boolean
  },
  data() {
    return {
      itemPriscriboContent,
      statusoId: [1]
    }
  },
  methods: {
    setStatusoFilter(value) {
      // в бакенде статус Закрытые под номером 3
      // при изменении в бакенде тут нужно поменять
      const closedStatusFromBackend = [3]
      const allStatuses = this.statusoj.edges.map((item) => item.node.objId)
      if (value === 'all') {
        this.statusoId = allStatuses
      } else if (value === 'closed') {
        this.statusoId = closedStatusFromBackend
      } else {
        this.statusoId = allStatuses.filter((el) => !closedStatusFromBackend.includes(el))
      }
    },
    kategorioToText(arr) {
      return arr.map((item) => item.node.nomo.enhavo).join(', ')
    },

    showDialogOn() {
      this.$emit('update:showDialog', true)
    },
    deleteTasko({ uuid, nomo }) {
      this.$q
        .dialog({
          message: `Удаляем задачу: ${nomo.enhavo}`,
          ...confirmDialogParams,
          dark: this.dark
        })
        .onOk(() => {
          this.$store.dispatch('tasko/deleteTasko', {
            id: uuid
          })
        })
    },

    arkTasko({ uuid, nomo }) {
      this.$q
        .dialog({
          message: `Архивируем задачу: ${nomo.enhavo}`,
          ...confirmDialogParams,
          dark: this.dark
        })
        .onOk(() => {
          this.$store.dispatch('tasko/arkTasko', {
            id: uuid
          })
        })
    }
  },
  computed: {
    ...mapGetters({
      kategorioj: 'taskoj/getKategorioj',
      statusoj: 'taskoj/getStatusoj',
      tipoj: 'taskoj/getTipoj'
    }),

    filteredTasko() {
      const statusoSet = new Set(this.statusoId)
      if (statusoSet.size > 0) {
        return this.prkt.tasko.edges.filter((item) => statusoSet.has(item.node.statuso.objId))
      } else return this.prkt.tasko.edges
    }
  },
  watch: {
    statusoj: function (cur) {
      if (cur) {
        this.setStatusoFilter('withoutClosed')
      }
    }
  },
  created() {
    // this.$store.dispatch('taskoj/fetchStatusoj');
  }
}
</script>
<style lang="sass" scoped>
.my-card
  width: 100%

.style-card
  min-width: 250px
  max-width: 300px

.mobile
  width: 100%
</style>
