<template>
  <div>
    <q-btn color="accent" icon="add" round size="md" @click="showDialog = !showDialog">
      <q-tooltip content-class="bg-accent">Создать связь</q-tooltip>
    </q-btn>
    <q-dialog v-model="showDialog" persistent width="380">
      <q-card :dark="dark">
        <q-card-section horizontal>
          <q-item :dark="dark">
            <q-item-section>
              <q-item-label class="text-h6">Добавление связи</q-item-label>
            </q-item-section>
          </q-item>
        </q-card-section>
        <q-card-section>
          <q-form @submit="addLigilo" @reset="onReset" class="q-gutter-md" ref="myForm">
            <q-select
              v-if="ligoj.tipoj"
              :dark="dark"
              outlined
              v-model="tipoId"
              :options="ligoj.tipoj"
              label="Тип связи"
              :option-label="(item) => (Object(item) === item ? item.node.nomo.enhavo : '')"
              :option-value="(item) => (Object(item) === item ? item.node.objId : null)"
              emit-value
              map-options
            />
            <q-select
              v-if="ligoj.projektoj"
              :dark="dark"
              outlined
              v-model="projektoId"
              :options="options"
              label="Проект"
              :option-label="
                (item) =>
                  Object(item) === item ? `${item.node.nomo.enhavo} [IDP${item.node.objId}]` : ''
              "
              :option-value="(item) => (Object(item) === item ? item.node.objId : null)"
              emit-value
              map-options
              @filter="filterFn"
            />
            <q-btn :disabled="false" color="positive" type="submit"> Создать связь </q-btn>
            <q-btn :disabled="false" color="negative" type="reset"> Закрыть </q-btn>
          </q-form>
        </q-card-section>
      </q-card>
    </q-dialog>
  </div>
</template>
<script>
import { mapGetters } from 'vuex'
import { ref } from 'vue'

export default {
  name: 'addLigilo',
  props: {
    dark: Boolean,
    objId: { type: Number }
  },

  data() {
    return {
      showDialog: false,
      tipoId: 1,
      projektoId: ref(null),
      options: this.projektoj
    }
  },
  methods: {
    addLigilo() {
      if (this.objId !== this.projektoId && this.projektoId) {
        const params = {
          tipoId: this.tipoId,
          arkivo: false,
          forigo: false,
          ligiloId: this.projektoId,
          posedantoId: this.objId,
          publikigo: true
        }
        this.$store.dispatch('ligoj/changeLigoj', params)
      }
      this.onReset()
    },
    onReset() {
      this.tipoId = 1
      this.projektoId = null
      this.optionId = this.projektoj
      requestAnimationFrame(() => {
        this.showDialog = false
      })
    },
    filterProjektoj() {
      const set = new Set()
      if (this.ligoj.list) {
        this.ligoj.list.forEach((item) => set.add(item[1].node.item.objId))
      }
      return this.ligoj.projektoj.filter((item) => {
        return item.node.objId !== this.objId && !set.has(item.node.objId)
      })
    },
    filterFn(val, update, abort) {
      update(() => {
        this.options = this.filterProjektoj()
      })
    }
  },

  created() {
    this.$store.dispatch('ligoj/fetchTipoj')
    this.$store.dispatch('ligoj/fetchProjektojSimple')
  },
  computed: {
    ...mapGetters({
      ligoj: 'ligoj/getLigoj'
    }),
    projektoj() {
      return this.ligoj.projektoj
    }
  },
  watch: {}
}
</script>
