<template>
  <q-dialog v-model="showDialog" width="380">
    <q-card :dark="dark">
      <q-card-section class="row items-center q-pb-none">
        <div class="text-h6">Изменение связи</div>
        <q-space />
        <q-btn icon="close" flat round dense v-close-popup @click="showDialog = false" />
      </q-card-section>
      <q-card-section>
        <q-select
          v-if="ligoj.tipoj"
          :dark="dark"
          outlined
          v-model="tipo"
          :options="ligoj.tipoj"
          label="Тип связи"
          :option-label="(item) => (Object(item) === item ? item.node.nomo.enhavo : '')"
          :option-value="(item) => (Object(item) === item ? item.node.objId : null)"
          emit-value
          map-options
        />
      </q-card-section>
    </q-card>
  </q-dialog>
</template>
<script>
import { mapGetters } from 'vuex'

export default {
  name: 'changeLigiloTipo',
  props: {
    showChangeLigiloDialog: Boolean,
    dark: Boolean,
    uuid: String,
    tipoId: Number
  },

  data() {
    return {}
  },
  methods: {
    changeLigilo(tipo) {
      const params = {
        tipoId: tipo,
        arkivo: false,
        forigo: false,
        uuid: this.uuid,
        publikigo: true
      }
      this.$store.dispatch('ligoj/changeLigoj', params).then(() => (this.showDialog = false))
    }
  },
  created() {
    this.$store.dispatch('ligoj/fetchTipoj')
  },
  computed: {
    ...mapGetters({
      ligoj: 'ligoj/getLigoj'
    }),
    tipo: {
      get: function () {
        return this.tipoId
      },
      set: function (tipo) {
        this.changeLigilo(tipo)
      }
    },
    showDialog: {
      get: function () {
        return this.showChangeLigiloDialog
      },
      set: function (value) {
        requestAnimationFrame(() => {
          this.$emit('update:showChangeLigiloDialog', value)
        })
      }
    }
  }
}
</script>
