<template>
  <div class="flex">
    <div class="inner-block-wrapper">
      <div class="inner-block fit">
        <!-- Сюда попадает контент -->
        <slot></slot>
      </div>
    </div>
  </div>
</template>
<script>
import { mapGetters } from 'vuex'

export default {
  name: 'BlockBordered',
  ...mapGetters({ dark: 'UIstore/getDark' })
}
</script>
<style scoped lang="sass">
.inner-block-wrapper
  width: 100%
  padding: 10px
  //margin: 10px
  background-color: rgba(255, 255, 255, 0.3)
  align-items: center
  position: relative
  clip-path: polygon(15px 0, 100% 0, 100% calc(100% - 15px), calc(100% - 15px) 100%, 0 100%, 0 15px)

.inner-block-wrapper:before
  background: rgba(8, 23, 38, 0.840)
  content: ""
  position: absolute
  left: 1px
  top: 1px
  right: 1px
  bottom: 1px
  z-index: -1
  clip-path: polygon(15px 0, 100% 0, 100% calc(100% - 15px), calc(100% - 15px) 100%, 0 100%, 0 15px)
</style>
