<template>
  <q-page padding class="q-pa-none q-ma-none">
    <div class="row">
      <div class="col-12">
        <BlockBordered class="q-pa-sm" ref="mainBlock" :class="{ h100percent: $q.screen.gt.xs }">
        </BlockBordered>
      </div>
      <div class="col-12" :class="{ 'absolute-bottom': $q.screen.gt.sm }">
        <div class="row">
          <BlockBordered
            class="hvr-push my-info-block q-pa-sm cursor-pointer"
            :class="!$q.screen.gt.sm ? 'col-12' : 'col-4'"
            v-for="(tile, idx) in tiles"
            :key="idx"
          >
            <q-item dense v-ripple clickable @click="tileClick(tile.url)" class="q-px-none">
              <q-item-section avatar>
                <q-avatar square size="75px">
                  <q-img
                    :width="75 + 'px'"
                    :height="75 + 'px'"
                    :src="tile.image_url"
                    :alt="tile.title"
                  />
                </q-avatar>
              </q-item-section>
              <q-item-section>
                <q-item-label lines="1" class="text-white text-weight-medium"
                  >{{ tile.title }}
                </q-item-label>
                <q-item-label lines="2" caption class="text-white">{{ tile.text }} </q-item-label>
              </q-item-section>
            </q-item>
          </BlockBordered>
        </div>
      </div>
    </div>
  </q-page>
</template>
<script>
import { mapGetters } from 'vuex'
import { Loading, openURL, QSpinnerGears } from 'quasar'
import { defineAsyncComponent } from 'vue'

export default {
  name: 'IndexUnknownLoggedIn',
  components: {
    BlockBordered: defineAsyncComponent(() => import('components/Blocks/BlockBordered'))
  },
  data() {
    return {
      tiles: [
        {
          image_url: 'images/main_help.png',
          title: 'Помочь в развитии проекта',
          url: 'https://boosty.to/universo',
          text: 'Полный перечень способов как можно помочь проекту в развитии.'
        },
        {
          image_url: '/images/main_doc.png',
          title: 'Документация',
          url: 'https://dok.universo.pro/ru/latest/',
          text: 'Всестороннее описание технологий и проектов Технокома.'
        },
        {
          image_url: '/images/main_apps.png',
          title: 'Проекты',
          url: '/gp',
          text: 'Перечень главных проектов Технокома.'
        }
      ],
      title: 'Главная'
    }
  },
  meta() {
    return {
      title: `Техноком - ${this.title}`
    }
  },
  methods: {
    tileClick(url) {
      if (url.startsWith('http')) {
        openURL(url)
      } else this.$router.push(url)
    }
  },
  computed: {
    ...mapGetters({ isLoggedIn: 'siriusoauth/isLoggedIn' })
  },
  mounted() {
    Loading.show({
      spinner: QSpinnerGears
    })
  },

  beforeUnmount() {
    Loading.hide()
  }
}
</script>
