<template>
  <component :is="currentIndexPage" class="container-style q-mx-auto" />
</template>
<script>
import { mapGetters } from 'vuex'
import { defineAsyncComponent } from 'vue'

export default {
  name: 'PageIndex',
  data() {
    return {}
  },
  meta() {
    return {
      title: `Техноком - ${this.title}`
    }
  },
  methods: {},
  computed: {
    ...mapGetters({ isLoggedIn: 'siriusoauth/isLoggedIn' }),
    currentIndexPage() {
      return this.isLoggedIn === true
        ? defineAsyncComponent(() => import('pages/IndexLoggedIn'))
        : this.isLoggedIn === false
        ? defineAsyncComponent(() => import('pages/IndexNotLoggedIn'))
        : defineAsyncComponent(() => import('pages/IndexUnknownLoggedIn'))
    }
  }
}
</script>
