<template>
  <q-page v-if="komunumo" padding>
    <div class="row">
      <div
        class="q-pb-md"
        :class="[$q.screen.gt.sm ? 'col-8' : 'col-12', $q.screen.gt.sm ? 'q-pr-sm' : '']"
      >
        <q-card class="my-card q-pa-none" :dark="dark">
          <q-parallax :height="290" :speed="0.14">
            <template v-slot:media>
              <q-img
                :src="komunumo.kovrilo.bildoE.url"
                style="display: contents"
                position="0 0"
              ></q-img>
            </template>
            <template v-slot:content="scope">
              <div
                class="absolute column items-start"
                :style="{
                  opacity: 0.75 + scope.percentScrolled * 0.25,
                  top: scope.percentScrolled * 90 - 10 + '%',
                  left: 0,
                  right: 0
                }"
                style="color: aliceblue; text-shadow: 1px 1px 2px darkblue"
              >
                <div class="text-h5 text-weight-bold text-white q-pl-md">
                  {{ komunumo.nomo.enhavo }}
                </div>
                <div class="text-weight-bold text-grey-3 q-pl-md">
                  {{ komunumo.priskribo.enhavo }}
                </div>
              </div>
            </template>
            <!--            <q-item class="absolute-bottom text-h6"-->
            <!--                    style="color: aliceblue; text-shadow: 0 0 darkblue;"-->
            <!--                    :dark="dark">-->
            <!--              <q-item-section>-->
            <!--                <q-item-label>-->
            <!--                  {{ komunumo.nomo.enhavo }}-->
            <!--                </q-item-label>-->
            <!--                <q-item-label class="text-caption text-weight-bold">-->
            <!--                  {{ komunumo.priskribo.enhavo }}-->
            <!--                </q-item-label>-->
            <!--              </q-item-section>-->
            <!--            </q-item>-->
          </q-parallax>
        </q-card>
      </div>
      <div
        :class="[$q.screen.gt.sm ? 'col-4' : 'col-12', $q.screen.gt.sm ? 'q-pl-sm' : '']"
        class="q-pb-md"
      >
        <q-card class="my-card q-pa-none" :dark="dark">
          <q-parallax
            :height="$q.screen.gt.sm ? 290 : 80"
            src="~assets/background-komumumo-avataro.png"
          >
            <q-item :dark="dark">
              <q-item-section>
                <q-btn :color="`${!mia ? 'positive' : 'negative'}`" @click="statistikoMia" no-caps
                  >{{ `${!mia ? 'Подписаться' : 'Отписаться'}` }}
                </q-btn>
              </q-item-section>
              <q-item-section>
                <q-btn
                  href="https://boosty.to/universo"
                  color="negative"
                  target="_blank"
                  type="a"
                  no-caps
                  >Поддержать
                </q-btn>
              </q-item-section>
            </q-item>
            <q-item :dark="dark">
              <q-item-section>
                <q-avatar :size="$q.screen.gt.sm ? '150px' : '70px'">
                  <q-img :src="komunumo.avataro.bildoE.url" spinner-color="white">
                    <template v-slot:error>
                      <div class="absolute-full flex flex-center bg-negative text-white">
                        Нет изображения
                      </div>
                    </template>
                  </q-img>
                </q-avatar>
              </q-item-section>
            </q-item>
          </q-parallax>
        </q-card>
      </div>
    </div>
    <div class="row">
      <div
        class="q-pb-md"
        :class="[$q.screen.gt.sm ? 'col-8' : 'col-12', $q.screen.gt.sm ? 'q-pr-sm' : '']"
      >
        <projektoj
          v-model:komunumo="komunumoId"
          v-model:projektojButtonShow="projektojButtonShow"
          v-model:projektoj-show="projektojShow"
          v-model:showDialog="showDialog"
          v-model:count="count"
        ></projektoj>
        <q-card class="my-card" :dark="dark" v-show="projektojShow === 1">
          <q-card-actions v-if="!isLoading" class="items-center justify-center">
            <q-btn v-if="projektojButtonShow" no-caps :to="`/kp${komunumoId}`">Все проекты </q-btn>
            <q-btn
              no-caps
              :disable="!(isLoggedIn && isAdmin)"
              label="Добавить проект"
              @click="showDialog = true"
            />
          </q-card-actions>
          <add-projekto
            v-model:showDialog="showDialog"
            v-model:posedanto-komunumo-id="komunumoId"
          ></add-projekto>
        </q-card>
      </div>
      <div :class="[$q.screen.gt.sm ? 'col-4' : 'col-12', $q.screen.gt.sm ? 'q-pl-sm' : '']">
        <banner :dark="dark" />
        <q-separator :dark="dark" />
        <q-card class="my-card" :dark="dark">
          <q-card-section horizontal>
            <list-item label="Связанные контакты" icon="none"></list-item>
          </q-card-section>
          <q-card-section v-for="(idu, idx) of komunumo.kontaktuloj.edges" :key="idx" horizontal>
            <q-item v-ripple :to="'/u' + idu.node.objId" class="col-12" clickable :dark="dark">
              <q-item-section avatar top>
                <q-avatar>
                  <q-img :src="idu.node.avataro.bildoF.url" spinner-color="white">
                    <template v-slot:error>
                      <div class="absolute-full flex flex-center bg-negative">Нет изображения</div>
                    </template>
                  </q-img>
                </q-avatar>
              </q-item-section>
              <q-item-section>
                <q-item-label>{{ fullName(idu) }}</q-item-label>
                <q-item-label
                  caption
                  class="link-in-text"
                  :class="{
                    'link-in-text-symbol__dark': dark,
                    'link-in-text-symbol__light': !dark
                  }"
                  v-html="idu.node.kontaktaInformo"
                ></q-item-label>
              </q-item-section>
            </q-item>
          </q-card-section>
        </q-card>
      </div>
    </div>
  </q-page>
</template>
<script>
import { mapGetters } from 'vuex'
import { idParser } from 'src/utils'
import { defineAsyncComponent, ref } from 'vue'

export default {
  components: {
    Banner: defineAsyncComponent(() => import('components/Banner')),
    Projektoj: defineAsyncComponent(() => import('components/projektoj')),
    addProjekto: defineAsyncComponent(() => import('components/addProjekto')),
    ListItem: defineAsyncComponent(() => import('components/Items/ListItem'))
  },
  data() {
    return {
      projektojButtonShow: true,
      showDialog: false,
      item: null,
      idParser,
      komunumoId: ref(null),

      count: 5
    }
  },
  meta() {
    return {
      title: `Техноком - ${this.title}`
    }
  },
  created() {
    this.komunumoId = idParser.call(this, '/gk', 'id')

    this.$store.dispatch('komunumo/fetchKomunumo', { id: this.komunumoId })
  },

  methods: {
    fullName: function (idu) {
      let firstName = ''
      let secondName = ''
      let lastName = ''
      if (typeof idu?.node === 'object') {
        const { unuaNomo, duaNomo, familinomo } = idu.node
        firstName = unuaNomo?.enhavo ?? ''
        secondName = duaNomo?.enhavo ?? ''
        lastName = familinomo?.enhavo ?? ''
      } else {
        throw new Error('Данные пользователя не получены')
      }
      return [firstName, secondName, lastName].join(' ')
    },
    statistikoMia() {
      const params = {
        komunumoUuid: this.komunumo?.uuid,
        joinOrLeave: !this.mia
      }
      this.$store.dispatch('komunumo/membershipKomunumon', params).then((resp) => {
        if (resp.status) {
          this.$q.notify({
            type: 'positive',
            message: resp.message
          })
        } else {
          this.$q.notify({
            type: 'negative',
            message: resp.message
          })
        }
      })
    }
  },
  watch: {
    // komunumo: function(cur, old) {
    //   if (cur && old === undefined) {
    //
    //   }},
  },
  computed: {
    ...mapGetters({
      komunumo: 'komunumo/getKomunumo',
      isLoading: 'UIstore/getIsLoading',
      isLoggedIn: 'siriusoauth/isLoggedIn',
      isAdmin: 'siriusoauth/isAdmin',
      dark: 'UIstore/getDark',
      stateUI: 'UIstore/getStateUI'
    }),

    mia: function () {
      if (this.komunumo !== null) {
        return this.komunumo.statistiko.mia
      } else return false
    },
    title() {
      if (this.komunumo?.nomo?.enhavo) {
        return `Сообщество: ${this.komunumo.nomo.enhavo}`
      } else return 'Сообщество'
    },
    projektojShow: function () {
      return this.stateUI.projektojShow ?? 1
    }
  },
  mounted() {}
}
</script>
<style lang="sass" scoped>
.my-card
  width: 100%

.avataro-container
  background-image: url('../assets/background-komumumo-avataro.png')
  background-position: top center
  background-repeat: repeat
  background-size: cover
</style>
