<template>
  <q-page
    padding
    :dark="dark"
    :class="{ 'light-theme-style': !dark, 'dark-theme-style': dark }"
    ref="scrollTarget"
  >
    <q-infinite-scroll
      @load="onLoad"
      :offset="500"
      :debounce="100"
      :disable="disableInfiniteScroll"
    >
      <q-tabs
        v-model="tab"
        show-arrows
        :dark="dark"
        align="left"
        class="text-weight-bold text-white shadow-2"
        narrow-indicator
      >
        <q-tab
          v-ripple
          v-for="(tab, idx) in tipoj"
          :key="idx + 'tab'"
          :name="tab.node.kodo"
          :label="tab.node.nomo.enhavo"
        >
          <q-badge color="accent" floating transparent>
            {{ tab.node.kvantoKomomunumoj }}
          </q-badge>
        </q-tab>
      </q-tabs>
      <q-tab-panels :dark="dark" v-model="tab" animated>
        <q-tab-panel
          :dark="dark"
          v-for="(tab, idx) in tipoj"
          :key="idx + 'tab-panel'"
          :name="tab.node.kodo"
        >
          <template v-if="komunumoj && komunumoj.edges">
            <q-card
              :dark="dark"
              class="my-card"
              bordered
              flat
              v-for="(komunumo, idx) in komunumoj.edges"
              :key="idx + 'edges'"
            >
              <list-item
                :to="'/k' + komunumo.node.objId"
                :dark="dark"
                :avatar="komunumo.node.avataro.bildoF.url"
                :label="komunumo.node.nomo.enhavo"
                :caption="komunumo.node.priskribo.enhavo"
              >
                <q-item-section side>
                  <q-toggle
                    :modelValue="komunumo.node.statistiko.mia"
                    @update:modelValue="statistikoMia(komunumo.node)"
                  ></q-toggle>
                </q-item-section>
              </list-item>
            </q-card>
          </template>
        </q-tab-panel>
      </q-tab-panels>
      <template v-slot:loading>
        <div class="row justify-center q-my-md">
          <q-spinner-dots color="primary" size="40px" />
        </div>
      </template>
    </q-infinite-scroll>
  </q-page>
</template>
<script>
import { Loading } from 'quasar'
import { mapGetters } from 'vuex'
import ListItem from 'components/Items/ListItem'

export default {
  components: { ListItem },
  data() {
    return {
      endCursor: null,
      tab: null,
      tipoj: [
        {
          node: {
            nomo: {
              enhavo: 'Все сообщества'
            },
            kodo: 'tuta',
            kvantoKomomunumoj: null
          }
        }
      ],
      title: 'Все сообщества'
    }
  },
  meta() {
    return {
      title: `Техноком - ${this.title}`
    }
  },
  methods: {
    statistikoMia(item) {
      const params = {
        komunumoUuid: item.uuid,
        joinOrLeave: !item.statistiko.mia
      }
      this.$store.dispatch('komunumoj/membershipKomunumon', params).then((resp) => {
        if (resp.status) {
          this.$q.notify({
            type: 'positive',
            message: resp.message
          })
        } else {
          this.$q.notify({
            type: 'negative',
            message: resp.message
          })
        }
      })
    },
    onLoad(index, done) {
      if (!this.komunumoj?.pageInfo?.hasNextPage) {
        done()
        return
      }
      if (this.komunumoj?.pageInfo?.endCursor) {
        this.$store
          .dispatch('komunumoj/fetchKomunumoj', {
            tab: this.tab,
            after: this.komunumoj.pageInfo.endCursor
          })
          .then(() => {
            done()
          })
      } else {
        done()
      }
    }
  },

  watch: {
    '$route.query': {
      handler: function (cur, old) {},
      deep: true
    },
    tab: function (cur, old) {
      this.endCursor = null
      if (cur === 0) {
        const qr = Object.assign({}, this.$route.query)
        delete qr.tipo
        this.$router.push({ query: { ...qr } })
      } else if (this.$route.query.tipo !== cur) {
        const qr = Object.assign({}, this.$route.query)
        this.$router.push({ query: { ...qr, ...{ tipo: cur } } })
      }
      if (old) {
        this.$store.dispatch('komunumoj/fetchKomunumoj', { tab: this.tab, after: this.endCursor })
      }
    },

    komunumojTipoj: function () {
      if (Array.isArray(this.komunumojTipoj?.edges) && this.komunumojTipoj?.edges?.length > 0) {
        this.tipoj[0].node.kvantoKomomunumoj = this.komunumojTipoj.edges.reduce(
          (sum, current) => sum + current.node?.kvantoKomomunumoj,
          0
        )
        this.tipoj = [...this.tipoj, ...this.komunumojTipoj?.edges]
      }
    }
  },
  created() {
    if (this.$route.query?.tipo) {
      this.tab = this.$route.query.tipo
    } else this.tab = 'tuta'
    this.$store.dispatch('komunumoj/fetchKomunumoj', {
      tab: this.tab,
      after: this.endCursor
    })
    this.$store.dispatch('komunumoj/fetchKomunumojTipoj')
  },
  computed: {
    ...mapGetters({
      komunumojTipoj: 'komunumoj/getKomunumojTipoj',
      komunumoj: 'komunumoj/getKomunumoj',
      isLoading: 'UIstore/getIsLoading',
      dark: 'UIstore/getDark'
    }),

    disableInfiniteScroll() {
      return !this.komunumoj?.pageInfo?.hasNextPage
    }
  }
}
</script>
<style lang="sass" scoped>
.my-card
  width: 100%

.light-theme-style

  .q-tabs
    color: aliceblue !important

.dark-theme-style

  .q-tabs
    color: aliceblue !important
</style>
