<template>
  <q-page :dark="dark" padding>
    <q-infinite-scroll
      @load="onLoad"
      :offset="500"
      :debounce="100"
      :disable="disableInfiniteScroll"
    >
      <template v-if="projektoj && projektoj.edges">
        <q-breadcrumbs active-color="primary" class="text-accent" separator="---">
          <q-breadcrumbs-el icon="home" :to="`/k${komunumoId}`" />
          <q-breadcrumbs-el icon="widgets" :label="`Проекты сообщества${komunumoNomo}`" />
        </q-breadcrumbs>
        <q-card
          v-for="(projekto, idx) in projektoj.edges"
          :key="idx + 'edges'"
          bordered
          class="items-start col-12 my-card"
          :dark="dark"
          flat
        >
          <list-item
            :to="'/p' + projekto.node.objId"
            :dark="dark"
            :label="projekto.node.nomo.enhavo"
            :caption="itemPriscriboContent(projekto.node.priskribo.enhavo)"
            :badge-label="`Задач: ${projekto.node.tasko.edges.length}`"
          >
            <q-item-section v-if="isLoggedIn && isAdmin" side>
              <q-btn
                color="accent"
                icon="delete_sweep"
                round
                size="md"
                @click.prevent="delProjekto(projekto.node)"
              >
                <q-tooltip content-class="bg-accent">Удалить</q-tooltip>
              </q-btn>
            </q-item-section>
          </list-item>
        </q-card>
      </template>
      <template v-slot:loading>
        <div class="row justify-center q-my-md">
          <q-spinner-dots color="primary" size="40px" />
        </div>
      </template>
    </q-infinite-scroll>
  </q-page>
</template>
<script>
import { mapGetters } from 'vuex'
import { confirmDialogParams, itemPriscriboContent, idParser } from '../utils'
import ListItem from 'components/Items/ListItem'

export default {
  components: { ListItem },
  data() {
    return {
      title: () => `Проекты сообщества${this.komunumoNomo}`,
      itemPriscriboContent,
      idParser,
      timeoutFlag: true
    }
  },

  meta() {
    return {
      title: `Техноком - ${this.title()}`
    }
  },

  created() {
    this.$store.dispatch('komunumo/fetchKomunumo', { id: this.komunumoId })
    const params = {
      first: 25,
      after: this.endCursor,
      komunumoId: this.komunumoId
    }
    this.$store.dispatch('projektoj/fetchProjektoj', params)
    setTimeout(() => {
      this.timeoutFlag = false
    }, 3000)
  },

  computed: {
    endCursor() {
      return this.projektoj?.pageInfo?.endCursor
    },
    ...mapGetters({
      projektoj: 'projektoj/getProjektoj',
      komunumo: 'komunumo/getKomunumo',
      isLoading: 'UIstore/getIsLoading',
      isLoggedIn: 'siriusoauth/isLoggedIn',
      isAdmin: 'siriusoauth/isAdmin',
      dark: 'UIstore/getDark'
    }),

    komunumoId: function () {
      return idParser.call(this, '/gk', 'id')
    },

    komunumoNomo() {
      if (this.komunumo && this.komunumo?.nomo?.enhavo) {
        return ` ${this.komunumo.nomo.enhavo}`
      } else return ''
    },
    disableInfiniteScroll() {
      return this.timeoutFlag || !this.projektoj?.pageInfo?.hasNextPage
    }
  },

  methods: {
    onLoad(index, done) {
      const params = {
        first: 25,
        after: this.endCursor,
        komunumoId: this.komunumoId
      }
      if (!this.projektoj?.pageInfo?.hasNextPage) {
        done()
        return
      }
      if (this.endCursor) {
        this.$store.dispatch('projektoj/fetchProjektoj', params).then(() => {
          done()
        })
      } else {
        done()
      }
    },

    delProjekto({ uuid, nomo }) {
      this.$q
        .dialog({
          message: `Удаляем проект: ${nomo.enhavo}`,
          ...confirmDialogParams,
          dark: this.dark
        })
        .onOk(() => {
          this.$store.dispatch('projektoj/delProjekto', { id: uuid })
        })
    }
  }
}
</script>
<style lang="sass" scoped>
.my-card
  width: 100%
</style>
