<template>
  <q-page v-if="tasko && projekto" padding>
    <q-breadcrumbs active-color="primary" class="text-accent" separator=">">
      <q-breadcrumbs-el icon="home" to="/" />
      <q-breadcrumbs-el icon="widgets" label="Все проекты" to="/gp" />
      <q-breadcrumbs-el
        :label="projektoNomo"
        :to="`/p${$route.params.objId}?tab=tasko`"
        icon="navigation"
      />
      <q-breadcrumbs-el :label="taskoNomoField" icon="build" />
    </q-breadcrumbs>
    <!-- content -->
    <q-card :dark="dark" class="my-card q-pa-md">
      <q-card-actions v-if="isLoggedIn && isAdmin">
        <q-btn color="accent" icon="delete_sweep" round size="md" @click="deleteTasko">
          <q-tooltip content-class="bg-accent">Удалить задачу</q-tooltip>
        </q-btn>
        <q-btn color="accent" icon="archive" round size="md" @click="arkTasko">
          <q-tooltip content-class="bg-accent">Архивировать задачу</q-tooltip>
        </q-btn>
        <q-btn
          v-if="isLoggedIn && isAdmin"
          :icon="readOnly ? 'lock' : 'lock_open'"
          color="accent"
          round
          size="md"
          @click="readOnly = !readOnly"
        >
          <q-tooltip content-class="bg-accent">Редактировать задачу</q-tooltip>
        </q-btn>
        <q-space></q-space>
        <q-select
          v-if="kategorioj"
          v-model="kategorioId"
          :dark="dark"
          :option-label="(item) => (Object(item) === item ? item.node.nomo.enhavo : '*')"
          :option-value="(item) => (Object(item) === item ? item.node.objId : 1)"
          :options="kategorioj.edges"
          dense
          emit-value
          label="Категории"
          map-options
          multiple
          outlined
        />
        <q-select
          v-if="tipoj"
          v-model="tipoId"
          :dark="dark"
          :option-label="(item) => (Object(item) === item ? item.node.nomo.enhavo : '*')"
          :option-value="(item) => (Object(item) === item ? item.node.objId : 1)"
          :options="tipoj.edges"
          dense
          emit-value
          label="Тип"
          map-options
          outlined
        />
        <q-select
          v-if="statusoj"
          v-model="statusoId"
          :dark="dark"
          :option-label="(item) => (Object(item) === item ? item.node.nomo.enhavo : '*')"
          :option-value="(item) => (Object(item) === item ? item.node.objId : 1)"
          :options="statusoj.edges"
          dense
          emit-value
          label="Статус"
          map-options
          outlined
        />
      </q-card-actions>
      <q-card-section horizontal>
        <div class="q-pa-md items-start q-gutter-md col-12">
          <q-item :dark="dark">
            <q-item-section>
              <q-input v-model="nomo" :readonly="!readOnly" class="editor-title"></q-input>
              <tiptap
                v-model:content="item"
                v-model:json="json"
                v-model:editable="readOnly"
                class="link-in-text"
                :class="{ 'link-in-text-symbol__dark': dark, 'link-in-text-symbol__light': !dark }"
              />
            </q-item-section>
          </q-item>
        </div>
      </q-card-section>
    </q-card>
  </q-page>
</template>
<script>
import { mapGetters } from 'vuex'
import { confirmDialogParams, idParser, isJson } from '../utils'
import Tiptap from 'components/TiptapEditor/Tiptap.vue'

export default {
  name: 'Tasko',
  components: { Tiptap },
  data() {
    return {
      isAddTaskoVisible: false,
      nomo: '',
      priskribo: '',
      taskoNomoField: '',
      taskoPriskriboField: '',
      item: '',
      json: null,
      readOnly: false,
      isJson,
      idParser
    }
  },

  meta() {
    return {
      title: `Техноком - ${this.title}`
    }
  },

  methods: {
    deleteTasko() {
      this.$q
        .dialog({
          message: `Удаляем задачу: ${this.nomo}`,
          ...confirmDialogParams,
          dark: this.dark
        })
        .onOk(() => {
          this.$store
            .dispatch('tasko/deleteTasko', {
              id: this.tasko.uuid
            })
            .then(() => {
              this.$router.push({ path: `/p${this.$route.params.objId}` })
            })
        })
    },

    arkTasko() {
      this.$q
        .dialog({
          message: `Архивируем задачу: ${this.nomo}`,
          ...confirmDialogParams,
          dark: this.dark
        })
        .onOk(() => {
          this.$store
            .dispatch('tasko/arkTasko', {
              id: this.tasko.uuid
            })
            .then(() => {
              this.$router.push({ path: `/p${this.$route.params.objId}` })
            })
        })
    },
    changeKategorioTipoStatuso(props) {
      props.uuid = this.tasko.uuid
      this.$store.dispatch('tasko/changeTasko', props)
    },

    changeTasko() {
      const props = { uuid: this.tasko?.uuid }
      if (this.json !== null) {
        const nomoChanged = this.nomo !== this.tasko.nomo.enhavo
        const jsonStringified = JSON.stringify(this.json)
        const priskriboChanged = jsonStringified !== this.tasko.priskribo.enhavo

        if (nomoChanged) {
          props.nomo = this.nomo
        }
        if (priskriboChanged) {
          props.priskribo = jsonStringified
        }

        if (nomoChanged || priskriboChanged) {
          try {
            this.$store.dispatch('tasko/changeTasko', props)
          } catch (e) {
            console.log('ошибка', e, this.json)
          }
        } else console.log('без изменений')
      } else console.log('без изменений')
    },

    fillTasko() {
      if (this.tasko) {
        this.nomo = this.tasko.nomo.enhavo
        this.item = this.tasko.priskribo.enhavo
      }
    }
  },

  async created() {
    try {
      await this.$store.dispatch('taskoj/fetchKategorioj')
      await this.$store.dispatch('taskoj/fetchStatusoj')
      await this.$store.dispatch('taskoj/fetchTipoj')

      const objId = await idParser.call(this, '/gp', 'objId')
      const taskoObjId = await idParser.call(this, `/p${this.$route.params.objId}`, 'taskoObjId')

      const resp = await this.$store.dispatch('projekto/fetchProjekto', { objId: objId })

      const uuid = resp.projekto.edges[0]?.node?.tasko?.edges.filter((item) => {
        return item?.node?.objId === taskoObjId
      })[0]?.node.uuid

      await this.$store.dispatch('tasko/fetchTasko', { uuid: uuid })

      this.fillTasko()
    } catch (e) {
      console.log('error', e)
    }
  },

  computed: {
    ...mapGetters({
      projekto: 'projekto/getProjekto',
      isLoggedIn: 'siriusoauth/isLoggedIn',
      isAdmin: 'siriusoauth/isAdmin',
      dark: 'UIstore/getDark',
      kategorioj: 'taskoj/getKategorioj',
      statusoj: 'taskoj/getStatusoj',
      tipoj: 'taskoj/getTipoj',
      tasko: 'tasko/getTasko'
    }),

    kategorioId: {
      get: function () {
        return this.tasko.kategorio.edges.map((item) => item.node.objId)
      },
      set: function (value) {
        this.changeKategorioTipoStatuso({ kategorio: value })
      }
    },
    statusoId: {
      get: function () {
        return this.tasko.statuso.objId
      },
      set: function (value) {
        this.changeKategorioTipoStatuso({ statusoId: value })
      }
    },
    tipoId: {
      get: function () {
        return this.tasko.tipo.objId
      },
      set: function (value) {
        this.changeKategorioTipoStatuso({ tipoId: value })
      }
    },

    title() {
      if (this.taskoNomoField) {
        return `Задача: ${this.taskoNomoField}`
      } else return 'Задача'
    },

    projektoNomo() {
      return this.projekto?.edges[0]?.node?.nomo?.enhavo
    }
  },

  watch: {
    readOnly: function (cur, old) {
      if (!cur && old === true) {
        this.changeTasko()
      }
    }
  }
}
</script>
<style lang="scss">
.editor-title {
  font-size: x-large;
  background-color: $accent;
}
</style>
