<!--Страничка для экспериментов-->
<template>
  <q-page padding>
    <!-- content -->
    <tiptap
      class="text-white"
      v-model:content="editorContent"
      v-model:json="json"
      v-model:editable="editable"
    />
    <q-btn @click="editable = !editable" text-color="white">Editable </q-btn>
    <q-btn @click="addToMap" text-color="white">ADD </q-btn>
    <div v-if="test.size > 0">
      <div
        v-for="([key], idx) in test"
        :key="idx + 'map'"
        class="text-white"
        @click="delTestMap($event)"
      >
        {{ key }}
      </div>
    </div>
  </q-page>
</template>
<script>
import { mapGetters } from 'vuex'
import Tiptap from 'components/TiptapEditor/Tiptap.vue'

export default {
  components: { Tiptap },
  name: 'testPage',
  data() {
    return {
      count: 0,
      editorContent: null,
      json: null,
      editable: true
    }
  },
  computed: {
    ...mapGetters({ test: 'test/getTestMap' }),
    tiptapvalue() {
      return Array.from(this.test).reduce((acc, item) => {
        return `${acc} ${item[0]}`
      }, '')
    }
  },
  methods: {
    delTestMap(item) {
      console.log(+item.target.innerText)

      this.$store.commit('test/delTestMap', +item.target.innerText)
    },

    addToMap: function () {
      this.count++
      this.$store.commit('test/setTestMap', this.count)
    }
  }
}
</script>
