<template>
  <q-page padding :dark="dark" :class="{ 'light-theme-style': !dark, 'dark-theme-style': dark }">
    <!-- content -->
    <q-tabs v-model="tab" show-arrows>
      <q-tab
        v-for="(tab, idx) in tabs"
        :key="idx + 'tab'"
        v-ripple
        :label="tab.nomo"
        :name="tab.tab"
      >
        <!--        <q-badge color="accent" floating transparent>-->
        <!--          {{ tab.nomo }}-->
        <!--        </q-badge>-->
      </q-tab>
    </q-tabs>
    <q-tab-panels v-model="tab" animated :dark="dark">
      <q-tab-panel v-for="(tab, idx) in tabs" :key="idx + 'tab-panel'" :name="tab.tab">
        <q-form
          v-if="user && tab.tab === 'baza'"
          ref="myForm"
          class="row q-pa-0 q-ma-0 q-gutter-none"
          @reset="onReset"
          @submit="setUzanto"
        >
          <div class="col-12">
            <div class="row q-pa-0 q-ma-0">
              <div class="col-2 col-lg-2 col-md-2 col-xl-2 col-sm-4 col-xs-12">
                <q-img
                  :ratio="1"
                  :src="avataroBildo"
                  basic
                  class="rounded-borders"
                  native-context-menu
                  spinner-color="white"
                  style="width: 160px"
                >
                  <template v-slot:error>
                    <div class="absolute-full flex flex-center bg-negative text-white">
                      Не могу загрузить изображение
                      <change-avatar-btn :objId="user.objId"></change-avatar-btn>
                    </div>
                  </template>
                  <change-avatar-btn :objId="user.objId"></change-avatar-btn>
                </q-img>
              </div>
              <div class="col-10 col-lg-10 col-md-10 col-xl-10 col-sm-8 col-xs-12">
                <div class="row q-pa-0 q-ma-0">
                  <div class="col-6 col-lg-6 col-md-6 col-xl-6 col-sm-12 col-xs-12">
                    <q-input
                      v-model="retnomo"
                      :dark="dark"
                      label="Псевдоним"
                      outlined
                      readonly
                      type="text"
                    ></q-input>
                  </div>
                  <div class="col-6 col-lg-6 col-md-6 col-xl-6 col-sm-12 col-xs-12">
                    <q-input
                      v-model="unuaNomo"
                      :dark="dark"
                      label="Имя"
                      outlined
                      type="text"
                    ></q-input>
                  </div>
                  <div class="col-6 col-lg-6 col-md-6 col-xl-6 col-sm-12 col-xs-12">
                    <q-input
                      v-model="duaNomo"
                      :dark="dark"
                      label="Отчество"
                      outlined
                      type="text"
                    ></q-input>
                  </div>
                  <div class="col-6 col-lg-6 col-md-6 col-xl-6 col-sm-12 col-xs-12">
                    <q-input
                      v-model="familinomo"
                      :dark="dark"
                      label="Фамилия"
                      outlined
                      type="text"
                    ></q-input>
                  </div>
                  <div class="col-6 col-lg-6 col-md-6 col-xl-6 col-sm-12 col-xs-12">
                    <q-select
                      v-model="sekso"
                      :options="seksoOptions"
                      :dark="dark"
                      label="Пол"
                      outlined
                    ></q-select>
                  </div>
                  <div class="col-6 col-lg-6 col-md-6 col-xl-6 col-sm-12 col-xs-12">
                    <q-input
                      v-model="naskighdato"
                      :dark="dark"
                      label="Дата рождения"
                      outlined
                      type="date"
                    ></q-input>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-6 col-lg-6 col-md-6 col-xl-6 col-sm-12 col-xs-12">
            <q-select
              v-model="chefaLingvo"
              :options="infoj.lingvoj"
              :dark="dark"
              label="Основной язык"
              outlined
            >
              <template v-slot:option="scope">
                <q-item v-bind="scope.itemProps" :dark="dark">
                  <span>{{ scope.opt.label }}</span>
                  <q-avatar class="on-right" size="medium" square>
                    <q-img :src="scope.opt.flag" />
                  </q-avatar>
                </q-item>
              </template>
            </q-select>
          </div>
          <div class="col-6 col-lg-6 col-md-6 col-xl-6 col-sm-12 col-xs-12">
            <q-select
              v-model="loghlando"
              :options="optionsLandoj"
              :dark="dark"
              fill-input
              hide-selected
              input-debounce="0"
              label="Страна"
              outlined
              use-input
              @filter="filterLandoj"
            >
              <template v-slot:option="scope">
                <q-item v-bind="scope.itemProps" :dark="dark">
                  <span>{{ scope.opt.label }}</span>
                  <q-avatar class="on-right" size="medium" square>
                    <q-img :src="scope.opt.flag" />
                  </q-avatar>
                </q-item>
              </template>
            </q-select>
          </div>
          <div class="col-6 col-lg-6 col-md-6 col-xl-6 col-sm-12 col-xs-12">
            <q-select
              v-model="loghregiono"
              :options="optionsRegiono"
              :dark="dark"
              fill-input
              hide-selected
              input-debounce="0"
              label="Населённый пункт"
              outlined
              use-input
              @filter="filterRegiono"
            >
              <template v-slot:option="scope">
                <q-item v-bind="scope.itemProps" :dark="dark">
                  <span>{{ scope.opt.label }}</span>
                </q-item>
              </template>
            </q-select>
          </div>
          <div class="col-6 col-lg-6 col-md-6 col-xl-6 col-sm-12 col-xs-12">
            <q-input v-model="statuso" :dark="dark" label="Статус" outlined type="text"></q-input>
          </div>
          <div class="col-6 col-lg-6 col-md-6 col-xl-6 col-sm-12 col-xs-12">
            <q-select
              v-model="chefaOrganizo"
              :options="optionsOrganizo"
              :dark="dark"
              fill-input
              hide-selected
              input-debounce="0"
              label="Основное народное предприятие"
              outlined
              use-input
              @filter="filterOrganizo"
            >
              <template v-slot:option="scope">
                <q-item v-bind="scope.itemProps" :dark="dark" dense>
                  <q-item-section avatar>
                    <q-img :src="scope.opt.avataro" />
                  </q-item-section>
                  <q-item-section>
                    <q-item-label lines="1">{{ scope.opt.label }} </q-item-label>
                    <q-item-label
                      caption
                      class="link-in-text"
                      lines="2"
                      v-html="scope.opt.priskribo"
                    />
                  </q-item-section>
                </q-item>
              </template>
            </q-select>
          </div>
          <div ref="selectOrganizo" class="col-6 col-lg-6 col-md-6 col-xl-6 col-sm-12 col-xs-12">
            <q-input
              v-model="administritajKomunumoj"
              :dark="dark"
              label="Администрируемые сообщества"
              outlined
              readonly
            ></q-input>
          </div>
          <div class="col-6 col-lg-6 col-md-6 col-xl-6 col-sm-12 col-xs-12">
            <q-input v-model="sovetoj" :dark="dark" label="Советы" outlined readonly></q-input>
          </div>
          <div class="col-6 col-lg-6 col-md-6 col-xl-6 col-sm-12 col-xs-12">
            <q-input
              v-model="sindikatoj"
              :dark="dark"
              label="Синдикаты"
              outlined
              readonly
            ></q-input>
          </div>
          <q-btn class="float-right" type="submit">
            <template v-slot:default>
              <span>Сохранить</span>
              <q-icon class="on-right" name="send"></q-icon>
            </template>
          </q-btn>
          <q-btn class="float-right" type="reset">
            <template v-slot:default>
              <span>Отменить</span>
              <q-icon class="on-right" name="cancel"></q-icon>
            </template>
          </q-btn>
        </q-form>
        <q-form v-if="user && tab.tab === 'sekura'" class="row">
          <div class="col-6 col-lg-6 col-md-6 col-xl-6 col-sm-12 col-xs-12">
            <q-input
              v-model="chefaRetposhto"
              :dark="dark"
              label="Электронная почта"
              outlined
              readonly
              type="email"
            >
              <template v-slot:default>
                <change-email-btn class="q-pa-sm" />
              </template>
            </q-input>
          </div>
          <div class="col-6 col-lg-6 col-md-6 col-xl-6 col-sm-12 col-xs-12">
            <q-input
              v-model="chefaTelefonanumero"
              :dark="dark"
              label="Телефон"
              outlined
              readonly
              type="tel"
            >
              <template v-slot:default>
                <change-phone-btn class="q-pa-sm" />
              </template>
            </q-input>
          </div>
          <div class="col-12 col-lg-12 col-md-12 col-xl-12 col-sm-12 col-xs-12">
            <change-password-btn :objId="user.objId" class="float-right" />
          </div>
        </q-form>
        <q-form
          v-if="user && tab.tab === 'sciigo' && retlisto !== null"
          ref="myForm"
          class="row"
          @reset="onReset"
          @submit="setUzanto"
        >
          <div class="col-6 col-lg-6 col-md-6 col-xl-6 col-sm-12 col-xs-12">
            <q-item v-ripple :dark="dark" outlined tag="label">
              <q-item-section>
                <q-item-label>Почтовая рассылка</q-item-label>
              </q-item-section>
              <q-item-section avatar>
                <q-toggle v-model="retlisto" color="accent" />
              </q-item-section>
            </q-item>
          </div>
        </q-form>
      </q-tab-panel>
    </q-tab-panels>
  </q-page>
</template>
<script>
import { mapGetters } from 'vuex'
import { defineAsyncComponent } from 'vue'

export default {
  name: 'uzantoAgordoj',
  components: {
    ChangePasswordBtn: defineAsyncComponent(() => import('components/ChangePasswordDialog')),
    ChangePhoneBtn: defineAsyncComponent(() => import('components/ChangePhoneDialog')),
    ChangeEmailBtn: defineAsyncComponent(() => import('components/ChangeEmailDialog')),
    ChangeAvatarBtn: defineAsyncComponent(() => import('components/ChangeAvatarDialog'))
  },
  data() {
    return {
      optionsLandoj: this.infoj?.landoj,
      optionsRegiono: this.infoj?.regiono,
      optionsOrganizo: this.infoj?.organizo,
      unuaNomo: null,
      duaNomo: null,
      familinomo: null,
      retnomo: null,
      sovetoj: null,
      sindikatoj: null,
      sekso: null,
      seksoOptions: ['Мужской', 'Женский'],
      naskighdato: null,
      loghregiono: null,
      loghlando: null,
      statuso: null,
      chefaTelefonanumero: null,
      chefaRetposhto: null,
      chefaOrganizo: null,
      chefaLingvo: null,
      avataro: null,
      administritajKomunumoj: null,
      changeAvatar: null,
      errors: {},
      tab: 'baza',
      tabs: [
        {
          tab: 'baza',
          nomo: 'Основные'
        },
        {
          tab: 'sekura',
          nomo: 'Безопасность'
        },
        {
          tab: 'sciigo',
          nomo: 'Уведомления'
        }
      ],
      title: 'Настройки пользователя'
    }
  },
  meta() {
    return {
      title: `Техноком - ${this.title}`
    }
  },
  watch: {
    user: function () {
      this.fillUzanto()
    },
    regionoKodo: function (cur) {
      this.$store.dispatch('registrado/fetchInfojRegiono', { lando_Kodo: cur.value || 'RU' })
    }
  },
  computed: {
    ...mapGetters({
      user: 'siriusoauth/user',
      dark: 'UIstore/getDark',
      infoj: 'registrado/getInfoj'
    }),
    retlisto: {
      get: function () {
        if (!this.user?.agordoj) return null
        const curJSON = JSON.parse(this.user.agordoj)
        return curJSON.hasOwnProperty('abono_shlosilo')
      },
      set: function (val) {
        this.$store.dispatch('uzanto/changeUzanto', { poshtoSciigoj: val }).then((resp) => {
          if (resp.status) {
            this.$q.notify({
              type: 'positive',
              message: resp.message
            })
          } else {
            this.$q.notify({
              type: 'negative',
              message: resp.message
            })
          }
        })
      }
    },

    seksoLazyFix: function () {
      if (this.sekso === 'Мужской') return 'vira'
      if (this.sekso === 'Женский') return 'virina'
      return null
    },
    regionoKodo: function () {
      if (typeof this.loghlando !== 'object') {
        const cur = this.infoj.landoj.filter((v) => {
          return v.label === this.loghlando
        })
        return cur
      }
      return this.loghlando
    },
    selectWidth: function () {
      return this.$refs.selectOrganizo[0].clientWidth
    },
    avataroBildo: function () {
      return this.avataro.bildoE?.url || this.avataro.bildoF?.url
    }
  },
  methods: {
    filterLandoj(val, update, abort) {
      update(() => {
        const needle = val.toLowerCase()
        this.optionsLandoj = this.infoj.landoj.filter(
          (v) => v.label.toLowerCase().indexOf(needle) > -1
        )
      })
    },
    filterRegiono(val, update, abort) {
      update(() => {
        const needle = val.toLowerCase()
        this.optionsRegiono = this.infoj.regiono.filter(
          (v) => v.label.toLowerCase().indexOf(needle) > -1
        )
      })
    },
    filterOrganizo(val, update, abort) {
      update(() => {
        const needle = val.toLowerCase()
        this.optionsOrganizo = this.infoj.organizo.filter(
          (v) => v.label.toLowerCase().indexOf(needle) > -1
        )
      })
    },

    setUzanto() {
      const params = {
        unuaNomo: this.unuaNomo === this.user.unuaNomo?.enhavo ? null : this.unuaNomo,
        duaNomo: this.duaNomo === this.user.duaNomo?.enhavo ? null : this.duaNomo,
        familinomo: this.familinomo === this.user.familinomo?.enhavo ? null : this.familinomo,
        sekso: this.seksoLazyFix === this.user?.sekso ? null : this.seksoLazyFix,
        naskighdato:
          this.naskighdato === this.user.naskighdato ? null : this.naskighdato.replace(/\//g, '.'),
        chefaOrganizo:
          this.chefaOrganizo.label === this.user.chefaOrganizo?.nomo?.enhavo
            ? null
            : this.chefaOrganizo.value,
        lando:
          this.loghlando.label === this.user.loghlando?.nomo?.enhavo ? null : this.loghlando.value,
        lingvo:
          this.chefaLingvo.label === this.user.chefaLingvo?.nomo ? null : this.chefaLingvo.value,
        regiono:
          this.loghregiono === this.user.loghregiono?.nomo?.enhavo ? null : this.loghregiono.value,
        statuso: this.statuso === this.user.statuso?.enhavo ? null : this.statuso
      }
      // тут сокращаю запрос, чтоб были только содержательные параметры (не null или undefined)
      const reducedParams = Object.fromEntries(
        Object.entries(params).filter(([key, value]) => value !== null && value !== undefined)
      )
      this.$store.dispatch('uzanto/changeUzanto', reducedParams).then((resp) => {
        if (resp.status) {
          this.$q.notify({
            type: 'positive',
            message: resp.message
          })
        } else {
          this.$q.notify({
            type: 'negative',
            message: resp.message
          })
        }
      })
    },

    mapErrorObject(errors) {
      const out = {}
      for (const item of errors) {
        out[item.field] = item.message
      }
      return out
    },
    onReset() {
      this.fillUzanto()
    },
    fillUzanto() {
      if (this.user) {
        this.unuaNomo = this.user.unuaNomo.enhavo
        this.duaNomo = this.user.duaNomo.enhavo
        this.familinomo = this.user.familinomo.enhavo
        this.retnomo = this.user.universoUzanto.retnomo
        this.sovetoj = [
          ...new Set(this.user.sovetoj.edges.map((cur) => cur.node.nomo.enhavo))
        ].join(', ')
        this.sindikatoj = [
          ...new Set(this.user.sindikatoj.edges.map((cur) => cur.node.nomo.enhavo))
        ].join(', ')
        this.sekso =
          this.user.sekso === 'vira' ? 'Мужской' : this.user.sekso === 'virina' ? 'Женский' : ''
        this.naskighdato = this.user.naskighdato
        this.loghregiono = this.user.loghregiono?.nomo?.enhavo
        this.loghlando = this.user.loghlando?.nomo?.enhavo
        this.statuso = this.user.statuso?.enhavo
        this.chefaTelefonanumero = this.user.chefaTelefonanumero ?? ''
        this.chefaRetposhto = this.user.chefaRetposhto
        this.chefaOrganizo = this.user.chefaOrganizo?.nomo?.enhavo ?? ''
        this.chefaLingvo = this.user.chefaLingvo?.nomo ?? ''
        this.avataro = this.user.avataro ?? ''
        this.administritajKomunumoj = [
          ...new Set(this.user.administritajKomunumoj.edges.map((cur) => cur.node.nomo.enhavo))
        ].join(', ')
      }
    }
  },
  created() {
    this.$store.dispatch('registrado/fetchInfoj')
    this.$store.dispatch('registrado/fetchOrganizo')

    this.fillUzanto()
  }
}
</script>
<style lang="sass" scoped>
.light-theme-style

  .q-tabs
    color: aliceblue !important

.dark-theme-style

  .q-tabs
    color: aliceblue !important
</style>
