<template>
  <q-btn
    color="primary"
    no-wrap
    fab-mini
    icon="emoji_objects"
    no-caps
    class="text-weight-bold q-mx-sm"
  >
    <q-menu :dark="dark" dense max-width="250px">
      <q-list dense>
        <q-item :dark="dark" @click="darkToggle = !darkToggle" clickable>
          <q-item-section>
            <q-item-label class="text-h7">Быстрые действия </q-item-label>
          </q-item-section>
        </q-item>
        <q-item :dark="dark" @click="darkToggle = !darkToggle" clickable>
          <q-item-section avatar>
            <q-avatar icon="lightbulb"> </q-avatar>
          </q-item-section>
          <q-item-section>
            <q-item-label>Тема отображения </q-item-label>
            <q-item-label caption>{{ dark ? 'Тёмная' : 'Светлая' }} </q-item-label>
          </q-item-section>
        </q-item>
        <q-separator />
        <q-item clickable :dark="dark" @click="openURL('mailto:support@tehnokom.su')">
          <q-item-section avatar>
            <q-avatar icon="edit"> </q-avatar>
          </q-item-section>
          <q-item-section>
            <q-item-label>Написать в техподдержку </q-item-label>
            <q-item-label :lines="4" caption
              >Будет создано электронное письмо в техническую поддержку Технокома
            </q-item-label>
          </q-item-section>
        </q-item>
      </q-list>
    </q-menu>
  </q-btn>
</template>
<script>
import { mapGetters } from 'vuex'
import { openURL } from 'quasar'

export default {
  name: 'ActionsMenu',
  components: {},
  data() {
    return { openURL }
  },
  computed: {
    ...mapGetters({
      dark: 'UIstore/getDark'
    }),
    darkToggle: {
      get: function () {
        return this.dark
      },
      set: function () {
        this.$store.commit('UIstore/setDark', !this.dark)
      }
    }
  }
}
</script>
