<template>
  <div>
    <q-btn flat label="Изменить пароль" @click="showDialog = true" />
    <q-dialog v-model="showDialog" persistent width="380" :maximized="!$q.screen.gt.xs">
      <q-card :dark="dark" flat>
        <q-card-section horizontal>
          <q-item :dark="dark">
            <q-item-section>
              <q-item-label class="text-h6">Изменение пароля</q-item-label>
            </q-item-section>
          </q-item>
        </q-card-section>
        <q-card-section>
          <q-form ref="passwordForm" @reset="onReset" @submit="setPassword">
            <div class="row q-pa-0 q-ma-0">
              <q-input
                v-model="password"
                class="col-12 col-lg-12 col-md-12 col-xl-12 col-sm-12 col-xs-12"
                :dark="dark"
                label="Текущий пароль"
                outlined
                bottom-slots
                type="password"
              ></q-input>
              <q-input
                v-model="newPassword"
                class="col-12 col-lg-12 col-md-12 col-xl-12 col-sm-12 col-xs-12"
                :dark="dark"
                :rules="passwordRules"
                label="Новый пароль"
                outlined
                type="password"
              ></q-input>
              <q-input
                v-model="confirmPassword"
                class="col-12 col-lg-12 col-md-12 col-xl-12 col-sm-12 col-xs-12"
                :dark="dark"
                :rules="confirmRules"
                label="Подтверждение нового пароля"
                outlined
                type="password"
              ></q-input>
            </div>
            <q-btn class="float-right" type="submit">
              <template v-slot:default>
                <span>Сохранить</span>
                <q-icon class="on-right" name="send"></q-icon>
              </template>
            </q-btn>
            <q-btn class="float-right" type="reset" v-close-popup>
              <template v-slot:default>
                <span>Отменить</span>
                <q-icon class="on-right" name="cancel"></q-icon>
              </template>
            </q-btn>
          </q-form>
        </q-card-section>
      </q-card>
    </q-dialog>
  </div>
</template>
<script>
import { mapGetters } from 'vuex'

export default {
  // name: 'ComponentName',
  props: {
    objId: {
      type: Number,
      required: false
    }
  },
  data() {
    return {
      showDialog: false,
      password: null,
      newPassword: null,
      confirmPassword: null,
      passwordRules: [
        (v) => (this.password ? !!v || 'Поле обязательно для заполнения' : true),
        (v) =>
          /^[0-9a-zA-Z+-_*.,;$!?%#=]+$/.test(v) ||
          'Допустимы только символы латинского алфавита, цифры и символы "_*.,;$!?%#="',
        (v) =>
          this.password
            ? (v?.length >= 6 && v?.length <= 32) || 'Пароль должен иметь длину от 6 до 32 символов'
            : true,
        (v) => !this.errors.hasOwnProperty('pasvorto') || this.errors.pasvorto
      ],
      confirmRules: [
        (v) => (this.password ? !!v || 'Поле обязательно для заполнения' : true),
        (v) =>
          /^[0-9a-zA-Z+-_*.,;$!?%#=]+$/.test(v) ||
          'Допустимы только символы латинского алфавита, цифры и символы "_*.,;$!?%#="',
        (v) => this.newPassword === v || 'Пароли не совпадают'
      ],
      errors: {}
    }
  },
  methods: {
    setPassword() {
      if (this.newPassword !== this.confirmPassword) {
        this.$q.notify({
          type: 'negative',
          message: 'Новый пароль не совпадает с подтверждением'
        })
        return
      }
      const params = {
        uzantoId: this.objId,
        pasvorto: this.password,
        novaPasvorto: this.newPassword
        // csrfmiddleware: this.$q.cookies.get('csrftoken'),
      }
      this.$store
        .dispatch('uzanto/changePassword', params)
        .then((resp) => {
          // тут пока не понятно. хоть пароль и изменяется, но сервер отвечает с ошибкой и БЕЗ СТАТУСА. Нужно разобраться что не так.
          if (resp?.status) {
            this.$q.notify({
              type: 'positive',
              message: resp.message
            })
          } else {
            this.errors = { message: resp?.message }
            this.$refs.passwordForm.validate()
            this.errors = {}
            this.$q.notify({
              type: 'negative',
              message: resp?.message
            })
          }
        })
        .catch((err) => console.log(err))
        .finally(() => {
          this.onReset()
        })
    },
    // mapErrorObject(errors) {
    //   let out = {};
    //   for (let item of errors) {
    //     out[item.field] = item.message;
    //   }
    //   return out;
    // },
    onReset() {
      this.password = this.newPassword = this.confirmPassword = null
      this.showDialog = false
    }
  },
  computed: {
    ...mapGetters({ dark: 'UIstore/getDark' })
  }
}
</script>
