<template>
  <div style="background: rgba(255, 255, 255, 0)">
    <q-btn
      color="accent"
      @click="showDialog = true"
      icon="edit"
      class="absolute all-pointer-events"
      padding="sm"
      style="top: 1px; left: 1px"
      fab
      flat
    >
      <q-tooltip content-class="bg-accent">Изменить</q-tooltip>
    </q-btn>
    <q-dialog v-model="showDialog" persistent width="380">
      <q-card :dark="dark">
        <q-card-section horizontal>
          <q-item :dark="dark">
            <q-item-section>
              <q-item-label class="text-h6">
                <template v-slot:default>
                  {{
                    step === 1
                      ? 'Загрузка нового изображения'
                      : step === 2
                      ? 'Аватара пользователя'
                      : step === 3
                      ? 'Маленькая aватара пользователя'
                      : ''
                  }}
                </template>
              </q-item-label>
            </q-item-section>
          </q-item>
        </q-card-section>
        <q-card-section>
          <q-stepper
            ref="stepper"
            v-model="step"
            animated
            active-color="accent"
            done-color="accent"
            :dark="dark"
            vertical
          >
            <q-step
              :done="step > 1"
              :name="1"
              :step="1"
              :title="steps[0].text"
              class="q-pa-md"
              :dark="dark"
              icon="settings"
            >
              <croppa
                v-model="avatarMax"
                :prevent-white-space="true"
                :width="160"
                :height="160"
                :file-size-limit="10000 * 1024"
                accept=".jpeg,.png,.gif,.jpg"
                placeholder="Выберите изображение"
                :quality="1"
              >
              </croppa>
            </q-step>
            <q-step
              :name="2"
              :step="2"
              :title="steps[1].text"
              class="q-pa-md"
              icon="settings"
              :done="step > 2"
            >
              <croppa
                v-model="avatarMin"
                :prevent-white-space="true"
                :width="50"
                :height="50"
                :file-size-limit="10000 * 1024"
                accept=".jpeg,.png,.gif,.jpg"
                placeholder="Выберите изображение"
                :show-remove-button="false"
                :disable-drag-and-drop="true"
                :disable-click-to-choose="true"
                :initial-image="avatarBaseURL"
                :quality="1"
              ></croppa>
            </q-step>
            <template v-slot:navigation>
              <q-stepper-navigation>
                <q-btn @click="step === 1 ? setAvatarMax() : setAvatarMin()" class="float-right">
                  <template v-slot:default>
                    <span>{{ step === 1 ? 'Следующий шаг' : 'Сохранить аватару' }}</span>
                    <q-icon class="on-right" name="send"></q-icon>
                  </template>
                </q-btn>
                <q-btn class="float-right" type="reset" @click="onReset" v-close-popup>
                  <template v-slot:default>
                    <span>Закрыть</span>
                    <q-icon class="on-right" name="cancel"></q-icon>
                  </template>
                </q-btn>
              </q-stepper-navigation>
              <!--                        оставил заготовку, чтоб можно было двигаться по шагам  произвольно-->
              <!--              <q-stepper-navigation>
                              <q-btn :label="step === 4 ? 'Finish' : 'Continue'"
                                     color="primary"
                                     @click="$refs.stepper.next()"/>
                              <q-btn v-if="step > 1"
                                     class="q-ml-sm"
                                     color="primary"
                                     flat
                                     label="Back"
                                     @click="$refs.stepper.previous()"/>
                            </q-stepper-navigation>-->
              <!--                        оставил заготовку, чтоб можно было двигаться по шагам  произвольно-->
            </template>
            <template v-slot:message>
              <q-banner v-if="step === 1" :dark="dark" class="q-px-lg">
                Вы можете загрузить изображение для аватары в формате JPG, GIF или PNG. Минимальное
                разрешение изображения 160х160px. Максимальный размер файла для загрузки 10Mb.
                <br />
                Выбранная область будет использована как аватара на странице пользователя. Если
                позволяет размер загруженного вами изображения, вы можете его позиционировать.
              </q-banner>
              <q-banner v-else :dark="dark" class="q-px-lg">
                Выбранная область будет маленькой аватарой и будет использоваться в новостях,
                комментариях и других местах.
              </q-banner>
            </template>
          </q-stepper>
        </q-card-section>
      </q-card>
    </q-dialog>
  </div>
</template>
<script>
import gql from 'graphql-tag'
import { print as printGraphQL } from 'graphql/language/printer'
import { mapGetters } from 'vuex'

export default {
  name: 'ChangeAvatarDialog',
  components: {},
  props: {
    objId: {
      type: Number,
      required: true
    }
  },
  data() {
    return {
      step: 1,
      showDialog: false,
      steps: [
        { step: 1, text: 'Большое изображение' },
        { step: 2, text: 'Маленькое изображение' }
      ],
      avatarBase: null,
      avatarMax: null,
      avatarMin: null,
      avatarBaseURL: null,

      avatarMaxURL: null,
      avatarMinURL: null,
      avatarMaxURLBlob: null,
      avatarMinURLBlob: null,
      avatarBaseBlob: null
    }
  },
  methods: {
    onReset() {
      this.step = 1
      this.showDialog = false
    },

    async setAvatarMax() {
      if (!this.avatarMax.hasImage()) return

      this.avatarBase = this.avatarMax.getChosenFile()
      const reader = new FileReader()
      const file = this.avatarMax.getChosenFile()
      const self = this
      reader.onload = function () {
        self.avatarBaseURL = reader.result
        fetch(reader.result)
          .then((res) => res.blob())
          .then((blob) => {
            self.avatarBaseBlob = blob
          })
      }
      reader.readAsDataURL(file)
      this.avatarMaxURL = this.avatarMax.generateDataUrl()
      this.avatarMaxURLBlob = await this.avatarMax.promisedBlob()
      this.step++
    },
    async setAvatarMin() {
      this.avatarMinURL = this.avatarMin.generateDataUrl()
      this.avatarMinURLBlob = await this.avatarMin.promisedBlob()
      this.submitAvataro()
    },
    postAvataro() {
      const query = gql`
        mutation ($id: Int!) {
          instaliAvataron(uzantoId: $id) {
            status
            message
            errors {
              field
              message
            }
            avataro {
              bildoE {
                url
              }
              bildoF {
                url
              }
            }
          }
        }
      `

      const formData = new FormData()
      formData.append('query', printGraphQL(query))
      formData.append('variables', JSON.stringify({ id: this.objId }))

      function blobToFile(blob, name) {
        function fileExtension(type) {
          if (type.startsWith('image')) {
            let ext = type.slice(6)
            ext === 'jpeg' ? (ext = 'jpg') : ''
            return ext
          } else return 'unknown'
        }

        return new File([blob], `${name}.${fileExtension(blob.type)}`, { type: blob.type })
      }

      const baseFile = blobToFile(this.avatarBaseBlob, 'baza')
      const maxFile = blobToFile(this.avatarMaxURLBlob, 'e')
      const minFile = blobToFile(this.avatarMinURLBlob, 'f')

      // тут проверяю получившиеся файлы. скачиваю чтоб пощупать
      //  function downloadFile(file){
      //
      //    let url = URL.createObjectURL(file)
      //    let a = document.createElement('a');
      //    a.download = file.name;
      //    a.href = url;
      //    a.click();
      //    URL.revokeObjectURL(url);
      //
      //
      //  }
      //  downloadFile(baseFile)
      //  downloadFile(maxFile)
      //  downloadFile(minFile)

      formData.append('bildoBaza', baseFile)
      formData.append('bildoAvataro', maxFile)
      formData.append('bildoAvataroMin', minFile)

      // formData.forEach((value, key) => console.log(key, value));

      return this.$axios
        .post('', formData, {
          headers: {
            'Content-Type': 'multipart/form-data'
          }
        })
        .then((response) => {
          const resp = response.data.data.instaliAvataron
          if (resp.status) {
            return Promise.resolve(resp)
          } else {
            for (const key in resp.errors) {
              console.log(resp.errors[key].message)
            }
            console.log(response)
            return Promise.reject(new Error(resp.message))
          }
        })
        .catch((e) => {
          return Promise.reject(e)
        })
    },

    submitAvataro() {
      // this.postAvataro()

      // попытка перевести запрос с аксиос на аполло. Неудачно. Аполло не хочет принимать бинарники, а бакенд не хочет принимать base64

      // const params = {
      //   id: this.objId,
      //   baza: this.avatarBaseBlob,
      //   full: this.avatarMaxURLBlob,
      //   min: this.avatarMinURLBlob,
      // };
      // const formData = new FormData();
      // formData.append('variables', JSON.stringify({id: this.objId}));
      // formData.append('bildoBaza', this.avatarBaseBlob);
      // formData.append('bildoAvataro', this.avatarMaxURLBlob);
      // formData.append('bildoAvataroMin', this.avatarMinURLBlob);
      //
      // this.$store.dispatch('uzanto/changeAvatar', params)

      this.postAvataro()
        .then((resp) => {
          console.log(resp.message)
          this.$store.commit('siriusoauth/setAvataro', resp.avataro)
          this.step = 1
          this.showDialog = false
        })
        .catch((e) => {
          console.error(e)
          this.step = 1
          this.showDialog = false
        })
    }
  },
  computed: {
    ...mapGetters({ dark: 'UIstore/getDark' })
  }
}
</script>
