<template>
  <div style="background: rgba(255, 255, 255, 0)">
    <q-btn
      color="accent"
      @click="showDialog = true"
      icon="edit"
      class="absolute all-pointer-events"
      padding="sm"
      style="top: 1px; left: 1px"
      fab
      flat
    >
      <q-tooltip content-class="bg-accent">Изменить</q-tooltip>
    </q-btn>
    <my-upload
      @crop-success="cropSuccess"
      @crop-upload-success="cropUploadSuccess"
      @crop-upload-fail="cropUploadFail"
      @srcFileSet="srcFileSet"
      :height="160"
      :width="160"
      v-model="showDialog"
      img-format="png,jpg,gif"
      :noRotate="false"
      :lang-ext="langExt"
      :dark="dark"
      :class="{ 'cropper-mobile': !$q.screen.gt.sm, 'light-theme': !dark, 'dark-theme': dark }"
      class="cropper"
    ></my-upload>
  </div>
</template>
<script>
import gql from 'graphql-tag'
import { print as printGraphQL } from 'graphql/language/printer'
import { mapGetters } from 'vuex'

import myUpload from 'vue-image-crop-upload'
import 'babel-polyfill' // es6 shim

export default {
  name: 'ChangeAvatarDialog',
  components: { myUpload },
  props: {
    objId: {
      type: Number,
      required: true
    }
  },
  data() {
    return {
      langExt: {
        hint: 'Кликните или перенесите сюда файл изображения',
        loading: 'Загружаю…',
        noSupported: 'Браузер не поддерживается. Пожалуйста используйте IE10+ или другой браузер',
        success: 'Загрузка успешна',
        fail: 'Загрузка не удалась',
        preview: 'Предпросмотр',
        btn: {
          off: 'Отмена',
          close: 'Закрыть',
          back: 'Назад',
          save: 'Сохранить'
        },
        error: {
          onlyImg: 'Файл не является изображением',
          outOfSize: 'Файл превышает лимит: ',
          lowestPx: 'Файл слишком маленький. Должен быть больше: '
        }
      },
      imgDataUrl: '',
      imgBlob: null,
      showDialog: false
    }
  },
  methods: {
    srcFileSet(fileName, fileType, fileSize) {
      // console.log(arguments);
    },
    /**
     * crop success
     *
     * @param imgDataUrl
     * @param field
     */
    async cropSuccess(imgDataUrl, field) {
      this.imgDataUrl = imgDataUrl
      await fetch(imgDataUrl)
        .then((res) => res.blob())
        .then((blob) => {
          this.imgBlob = blob
        })
      this.submitAvataro()
    },
    /**
     * upload success
     *
     * @param jsonData  server api return data, already json encode
     * @param field
     */
    cropUploadSuccess(jsonData, field) {
      console.log('-------- upload success --------')
      console.log(jsonData)
      console.log('field: ' + field)
    },
    /**
     * upload fail
     *
     * @param status    server api return error status, like 500
     * @param field
     */
    cropUploadFail(status, field) {
      console.log('-------- upload fail --------')
      console.log(status)
      console.log('field: ' + field)
    },

    onReset() {
      this.showDialog = false
    },

    postAvataro() {
      const query = gql`
        mutation ($id: Int!) {
          instaliAvataron(uzantoId: $id) {
            status
            message
            errors {
              field
              message
            }
            avataro {
              bildoE {
                url
              }
              bildoF {
                url
              }
            }
          }
        }
      `

      const formData = new FormData()
      formData.append('query', printGraphQL(query))
      formData.append('variables', JSON.stringify({ id: this.objId }))

      function blobToFile(blob, name) {
        function fileExtension(type) {
          if (type.startsWith('image')) {
            let ext = type.slice(6)
            ext === 'jpeg' ? (ext = 'jpg') : ''
            return ext
          } else return 'unknown'
        }

        return new File([blob], `${name}.${fileExtension(blob.type)}`, { type: blob.type })
      }

      const baseFile = blobToFile(this.imgBlob, 'baza')

      // тут проверяю получившиеся файлы. скачиваю чтоб пощупать
      /*
             function downloadFile(file){

               let url = URL.createObjectURL(file)
               let a = document.createElement('a');
               a.download = file.name;
               a.href = url;
               a.click();
               URL.revokeObjectURL(url);


             }
             downloadFile(baseFile)
      */

      formData.append('bildoBaza', baseFile)

      // formData.forEach((value, key) => console.log(key, value));

      return this.$axios
        .post('', formData, {
          headers: {
            'Content-Type': 'multipart/form-data'
          }
        })
        .then((response) => {
          const resp = response.data.data.instaliAvataron
          if (resp.status) {
            return Promise.resolve(resp)
          } else {
            for (const key in resp.errors) {
              console.log(resp.errors[key].message)
            }
            console.log(response)
            return Promise.reject(new Error(resp.message))
          }
        })
        .catch((e) => {
          return Promise.reject(e)
        })
    },

    submitAvataro() {
      // this.postAvataro()

      // попытка перевести запрос с аксиос на аполло. Неудачно. Аполло не хочет принимать бинарники, а бакенд не хочет принимать base64

      // const params = {
      //   id: this.objId,
      //   baza: this.avatarBaseBlob,
      //   full: this.avatarMaxURLBlob,
      //   min: this.avatarMinURLBlob,
      // };
      // const formData = new FormData();
      // formData.append('variables', JSON.stringify({id: this.objId}));
      // formData.append('bildoBaza', this.avatarBaseBlob);
      // formData.append('bildoAvataro', this.avatarMaxURLBlob);
      // formData.append('bildoAvataroMin', this.avatarMinURLBlob);
      //
      // this.$store.dispatch('uzanto/changeAvatar', params)

      this.postAvataro()
        .then((resp) => {
          console.log(resp.message)
          this.$store.commit('siriusoauth/setAvataro', resp.avataro)
          this.showDialog = false
        })
        .catch((e) => {
          console.error(e)
          this.showDialog = false
        })
    }
  },
  computed: {
    ...mapGetters({ dark: 'UIstore/getDark' }),
    cropperStyle: function () {
      if (this.dark) {
        return 'dark-theme'
      } else {
        return 'light-theme'
      }
    }
  }
}
</script>
<style lang="scss">
.cropper-mobile {
  .vicp-wrap {
    width: 291px;
    height: 550px;

    .vicp-step1 .vicp-drop-area {
      height: 250px;
    }

    .vicp-step2 .vicp-crop .vicp-crop-right {
      float: left;
      width: 240px;
    }
  }
}

.cropper {
  .vicp-wrap {
    .vicp-operate {
      a {
        color: darkblue;
      }
    }

    .vicp-step2 .vicp-crop .vicp-crop-right .vicp-preview {
      padding-right: 3px;
    }
  }
}

.dark-theme {
  .vicp-wrap {
    background: #121212;

    .vicp-operate {
      a {
        color: white;
      }
    }

    .vicp-step1 .vicp-drop-area .vicp-hint {
      color: darkgrey;
    }
  }
}

.light-theme {
  .vicp-wrap {
    background: white;

    .vicp-operate {
      a {
        color: #1d1d1d;
      }

      .vicp-step1 .vicp-drop-area .vicp-hint {
        color: darkgrey;
      }
    }
  }
}
</style>
