<template>
  <q-form ref="confirm_form" :lazy-validation="false" @submit="confirm">
    <q-input
      id="regconfirm"
      v-model="regConfirm"
      :rules="regConfirmRules"
      clearable
      :dark="dark"
      label="Код подтверждения регистрации"
      maxlength="12"
      required
    />
    <!--            <a href="javascript:void(0);" @click="resendConfirm">
    -->
    <q-btn class="float-left" no-caps @click.prevent="resendConfirm">
      Я не получил код подтверждения.
    </q-btn>
    <q-btn :disabled="!regConfirm" class="float-right" type="submit">
      <template v-slot:default>
        <span class="q-px-md">Подтвердить</span>
        <!--        <q-circular-progress v-else-->
        <!--                             indeterminate-->
        <!--                             size="28"/>-->
        <q-icon name="send"></q-icon>
      </template>
    </q-btn>
  </q-form>
</template>
<script>
import { mapGetters } from 'vuex'

export default {
  name: 'ConfirmForm',

  data() {
    return {
      error: '',
      // email: '',
      // password: '',
      regConfirm: '',
      regConfirmRules: [
        (v) => !!v || 'Поле обязательно для заполнения',
        (v) => /^[0-9a-zA-z]+$/.test(v) || 'Неверный код подтверждения',
        (v) => !this.error || this.error
      ]
    }
  },

  // mounted() {
  //   // Слушаем глобальную шину
  //   this.$root.$on("authdata", this.setAuthData);
  // },
  //
  // beforeDestroy() {
  //   // Отключаемся от глобальной шины
  //   this.$root.$off("authdata", this.setAuthData);
  // },
  computed: {
    ...mapGetters({
      email: 'registrado/getEmail',
      password: 'registrado/getPassword',
      dark: 'UIstore/getDark',
      authData: 'siriusoauth/getAuthData'
    })
  },
  watch: {
    // authData: function(cur) {
    //   if (typeof cur === 'object') {
    //     if (cur.hasOwnProperty('login')) {
    //       this.email = cur.login;
    //       this.password = cur.password;
    //     }
    //   }
    // },
  },
  methods: {
    // setAuthData({login, password}) {
    //   this.email = login;
    //   this.password = password;
    // },

    resendConfirm() {
      const vars = {
        login: this.email,
        password: this.password
      }
      this.$store
        .dispatch('registrado/resendConfirm', vars)
        .then((resp) => {
          if (resp.status) {
            this.$q.notify({
              type: 'positive',
              message: resp.message
            })
          } else {
            this.$q.notify({
              type: 'negative',
              message: resp.message
            })
          }
        })
        .catch((err) => {
          console.error(err)
        })
    },

    confirm() {
      if (this.$refs.confirm_form?.validate()) {
        const vars = {
          login: this.email,
          password: this.password,
          confirm: this.regConfirm
        }
        this.$store
          .dispatch('registrado/confirm', vars)
          .then((resp) => {
            if (resp.status) {
              this.$emit('success', true)
              this.$q.notify({
                type: 'positive',
                message: resp.message
              })
            } else {
              this.error = resp.message
              this.$refs.confirm_form.validate()
              this.error = ''
              this.$q.notify({
                type: 'negative',
                message: resp.message
              })
            }
          })
          .catch((err) => {
            console.error(err)
          })
      }
    }
  }
}
</script>
<style scoped></style>
