<template>
  <q-item
    exact
    clickable
    v-ripple
    :to="link"
    :dark="dark"
    v-if="(isLoggedIn && visibleForLoggedIn) || !isLoggedIn"
  >
    <q-item-section>
      <q-item-label>{{ title }}</q-item-label>
    </q-item-section>
  </q-item>
</template>
<script>
import { mapGetters } from 'vuex'

export default {
  name: 'FooterLink',
  props: {
    title: {
      type: String,
      required: true
    },

    caption: {
      type: String,
      default: ''
    },

    link: {
      type: String,
      default: '#'
    },

    icon: {
      type: String,
      default: ''
    },
    visibleForLoggedIn: {
      type: Boolean
    }
  },
  computed: {
    ...mapGetters({ isLoggedIn: 'siriusoauth/isLoggedIn', dark: 'UIstore/getDark' })
  }
}
</script>
<style lang="sass" scoped>
.q-item.q-router-link--active
  color: unset
</style>
