<template>
  <div v-if="projektoj">
    <q-card class="items-start col-12 my-card" :dark="dark" flat>
      <list-item label="Проекты сообщества" icon="none">
        <q-item-section side>
          <q-btn color="accent" icon="widgets" round :to="`/kp${komunumoId}`" size="xs">
            <q-tooltip>Все проекты</q-tooltip>
          </q-btn>
        </q-item-section>
        <q-item-section side>
          <q-btn
            color="accent"
            :disable="!(isLoggedIn && isAdmin)"
            round
            icon="note_add"
            size="xs"
            @click="$emit('update:showDialog', true)"
          >
            <q-tooltip>Добавить проект</q-tooltip>
          </q-btn>
        </q-item-section>
        <q-item-section side>
          <q-btn
            color="accent"
            :icon="
              projektojShow === 0
                ? 'expand_more'
                : projektojShow === 1
                ? 'chevron_left'
                : 'expand_less'
            "
            round
            size="xs"
            @click="setProjektojShow()"
          >
            <q-tooltip
              >{{
                projektojShow === 0 ? 'Развернуть' : projektojShow === 1 ? 'Уменьшить' : 'Свернуть'
              }}
            </q-tooltip>
          </q-btn>
        </q-item-section>
      </list-item>
    </q-card>
    <q-card
      class="items-start col-12 my-card"
      :dark="dark"
      flat
      v-show="projektojShow !== 0"
      v-if="projektoj.edges.length < 1"
    >
      <list-item class="text-grey-6" label="Тут пока пусто" icon="none"></list-item>
    </q-card>
    <q-card
      v-else
      v-for="(projekto, idx) of latestProjekto"
      :key="idx"
      bordered
      class="items-start col-12 my-card"
      :dark="dark"
      v-show="projektojShow !== 0"
      flat
    >
      <list-item
        :to="'/p' + projekto.node.objId"
        :dark="dark"
        :label="projekto.node.nomo.enhavo"
        :caption="
          projektojShow === 2 ? undefined : itemPriscriboContent(projekto.node.priskribo.enhavo)
        "
        :badge-label="`Задач: ${projekto.node.tasko.edges.length}`"
        :icon-size="projektojShow === 2 ? 'sm' : undefined"
        :dense="projektojShow === 2 ? true : undefined"
      >
      </list-item>
    </q-card>
  </div>
</template>
<script>
import { mapGetters } from 'vuex'
import { itemPriscriboContent, idParser } from '../utils'
import ListItem from 'components/Items/ListItem'

export default {
  name: 'Projektoj',
  components: {
    ListItem
  },

  props: {
    komunumo: {
      type: Number,
      required: false
    },
    count: {
      type: Number,
      required: false
    },
    projektojShow: {
      type: Number
    },
    showDialog: {
      type: Boolean
    }
  },
  data() {
    return { itemPriscriboContent, idParser }
  },

  created() {
    this.getProjektoj()
  },
  mounted() {
    this.getProjektoj()
  },

  methods: {
    getProjektoj() {
      const first = this.count
      const komunumoId = this.komunumoId
      this.$store.dispatch('projektoj/fetchProjektoj', { first, komunumoId })
    },
    setProjektojShow() {
      if (this.projektojShow === 0) {
        this.$store.commit('UIstore/setStateUI', { projektojShow: 1 })
      } else if (this.projektojShow === 1) {
        this.$store.commit('UIstore/setStateUI', { projektojShow: 2 })
      } else this.$store.commit('UIstore/setStateUI', { projektojShow: 0 })
    }
  },

  computed: {
    ...mapGetters({
      projektoj: 'projektoj/getProjektoj',
      isLoading: 'UIstore/getIsLoading',
      dark: 'UIstore/getDark',
      stateUI: 'UIstore/getStateUI',
      isLoggedIn: 'siriusoauth/isLoggedIn',
      isAdmin: 'siriusoauth/isAdmin'
    }),
    latestProjekto() {
      if (this.projektoj?.edges?.length > this.count) {
        return this.projektoj.edges.slice(0, this.count)
      } else return this.projektoj?.edges
    },
    komunumoId() {
      return idParser.call(this, '/gk', undefined, this.komunumo)
    }
  },

  watch: {
    'projektoj.edges': function (cur) {
      if (cur) {
        this.$emit('update:projektojButtonShow', cur.length > 0)
      }
    }
  }
}
</script>
<style lang="sass" scoped>
.my-card
  width: 100%
</style>
