<template>
  <q-toggle
    v-model="darkToggle"
    color="accent"
    checked-icon="dark_mode"
    unchecked-icon="light_mode"
  ></q-toggle>
</template>
<script>
import { mapGetters } from 'vuex'

export default {
  name: 'ThemeSwitcher',
  data() {
    return {}
  },
  computed: {
    ...mapGetters({ dark: 'UIstore/getDark' }),
    darkToggle: {
      get: function () {
        return this.dark
      },
      set: function () {
        this.$store.commit('UIstore/setDark', !this.dark)
      }
    }
  }
}
</script>
