<template>
  <div class="editor tiptap-editor">
    <div v-if="editor && editable" class="menubar">
      <span v-for="actionName in activeButtons" :key="actionName">
        <button
          v-if="actionName === 'bold'"
          :class="{ 'is-active': editor.isActive('bold') }"
          class="menubar__button"
          @click="editor.chain().focus().toggleBold().run()"
        >
          <tip-tap-icon name="bold" />
        </button>
        <button
          v-if="actionName === 'italic'"
          :class="{ 'is-active': editor.isActive('italic') }"
          class="menubar__button"
          @click="editor.chain().focus().toggleItalic().run()"
        >
          <tip-tap-icon name="italic" />
        </button>

        <button
          v-if="actionName === 'strike'"
          :class="{ 'is-active': editor.isActive('strike') }"
          class="menubar__button"
          @click="editor.chain().focus().toggleStrike().run()"
        >
          <tip-tap-icon name="strike" />
        </button>

        <button
          v-if="actionName === 'underline'"
          :class="{ 'is-active': editor.isActive('underline') }"
          class="menubar__button"
          @click="editor.chain().focus().toggleUnderline().run()"
        >
          <tip-tap-icon name="underline" />
        </button>

        <button
          v-if="actionName === 'code'"
          :class="{ 'is-active': editor.isActive('code') }"
          class="menubar__button"
          @click="editor.chain().focus().toggleCode().run()"
        >
          <tip-tap-icon name="code" />
        </button>

        <button
          v-if="actionName === 'h1'"
          :class="{ 'is-active': editor.isActive('heading', { level: 1 }) }"
          class="menubar__button"
          @click="editor.chain().focus().toggleHeading({ level: 1 }).run()"
        >
          H1
        </button>

        <button
          v-if="actionName === 'h2'"
          :class="{ 'is-active': editor.isActive('heading', { level: 2 }) }"
          class="menubar__button"
          @click="editor.chain().focus().toggleHeading({ level: 2 }).run()"
        >
          H2
        </button>

        <button
          v-if="actionName === 'h3'"
          :class="{ 'is-active': editor.isActive('heading', { level: 3 }) }"
          class="menubar__button"
          @click="editor.chain().focus().toggleHeading({ level: 3 }).run()"
        >
          H3
        </button>
        <button
          v-if="actionName === 'h4'"
          :class="{ 'is-active': editor.isActive('heading', { level: 4 }) }"
          class="menubar__button"
          @click="editor.chain().focus().toggleHeading({ level: 4 }).run()"
        >
          H4
        </button>
        <button
          v-if="actionName === 'h5'"
          :class="{ 'is-active': editor.isActive('heading', { level: 5 }) }"
          class="menubar__button"
          @click="editor.chain().focus().toggleHeading({ level: 5 }).run()"
        >
          H5
        </button>
        <button
          v-if="actionName === 'h6'"
          :class="{ 'is-active': editor.isActive('heading', { level: 6 }) }"
          class="menubar__button"
          @click="editor.chain().focus().toggleHeading({ level: 6 }).run()"
        >
          H6
        </button>

        <button
          v-if="actionName === 'bulletList'"
          :class="{ 'is-active': editor.isActive('bulletList') }"
          class="menubar__button"
          @click="editor.chain().focus().toggleBulletList().run()"
        >
          <tip-tap-icon name="ul" />
        </button>

        <button
          v-if="actionName === 'orderedList'"
          :class="{ 'is-active': editor.isActive('orderedList') }"
          class="menubar__button"
          @click="editor.chain().focus().toggleOrderedList().run()"
        >
          <tip-tap-icon name="ol" />
        </button>

        <button
          v-if="actionName === 'blockquote'"
          :class="{ 'is-active': editor.isActive('blockquote') }"
          class="menubar__button"
          @click="editor.chain().focus().toggleBlockquote().run()"
        >
          <tip-tap-icon name="quote" />
        </button>

        <button
          v-if="actionName === 'paragraph'"
          :class="{ 'is-active': editor.isActive('paragraph') }"
          class="menubar__button"
          @click="editor.chain().focus().setParagraph().run()"
        >
          <tip-tap-icon name="paragraph" />
        </button>

        <button
          v-if="actionName === 'link'"
          :class="{ 'is-active': editor.isActive('link') }"
          class="menubar__button"
          @click="setLink"
        >
          <tip-tap-icon name="link" />
        </button>
        <button
          v-if="actionName === 'link' && editor.isActive('link')"
          class="menubar__button"
          @click="editor.chain().focus().unsetLink().run()"
        >
          <tip-tap-icon name="link" />
        </button>
        <button v-if="actionName === 'addImage'" class="menubar__button" @click="addImage">
          <tip-tap-icon name="image" />
        </button>
        <button
          v-if="actionName === 'codeBlock'"
          :class="{ 'is-active': editor.isActive('codeBlock') }"
          class="menubar__button"
          @click="editor.chain().focus().toggleCodeBlock().run()"
        >
          <tip-tap-icon name="code" />
        </button>

        <button
          v-if="actionName === 'horizontalRule'"
          class="menubar__button"
          @click="editor.chain().focus().setHorizontalRule().run()"
        >
          <tip-tap-icon name="hr" />
        </button>

        <button
          v-if="actionName === 'undo'"
          class="menubar__button"
          @click="editor.chain().focus().undo().run()"
        >
          <tip-tap-icon name="undo" />
        </button>

        <button
          v-if="actionName === 'redo'"
          class="menubar__button"
          @click="editor.chain().focus().redo().run()"
        >
          <tip-tap-icon name="redo" />
        </button>
        <button
          v-if="actionName === 'toggleHighlight'"
          :class="{ 'is-active': editor.isActive('highlight') }"
          class="menubar__button"
          @click="editor.chain().focus().toggleHighlight().run()"
        >
          <tip-tap-icon-color name="black" />
        </button>
        <button
          v-if="actionName === 'toggleHighlight'"
          :class="{
            'is-active': editor.isActive('highlight', {
              color: ''
            })
          }"
          class="menubar__button"
          @click="
            editor
              .chain()
              .focus()
              .toggleHighlight({
                color: ''
              })
              .run()
          "
        >
          <tip-tap-icon-color name="black" />
        </button>

        <button
          v-if="actionName === 'toggleHighlight'"
          :class="{ 'is-active': editor.isActive('highlight', { color: '#ffa8a8' }) }"
          class="menubar__button"
          @click="editor.chain().focus().toggleHighlight({ color: '#ffa8a8' }).run()"
        >
          <tip-tap-icon-color name="red" />
        </button>
        <button
          v-if="actionName === 'toggleHighlight'"
          :class="{ 'is-active': editor.isActive('highlight', { color: '#ffc078' }) }"
          class="menubar__button"
          @click="editor.chain().focus().toggleHighlight({ color: '#ffc078' }).run()"
        >
          <tip-tap-icon-color name="orange" />
        </button>
        <button
          v-if="actionName === 'toggleHighlight'"
          :class="{ 'is-active': editor.isActive('highlight', { color: '#8ce99a' }) }"
          class="menubar__button"
          @click="editor.chain().focus().toggleHighlight({ color: '#8ce99a' }).run()"
        >
          <tip-tap-icon-color name="green" />
        </button>
        <button
          v-if="actionName === 'toggleHighlight'"
          :class="{ 'is-active': editor.isActive('highlight', { color: '#74c0fc' }) }"
          class="menubar__button"
          @click="editor.chain().focus().toggleHighlight({ color: '#74c0fc' }).run()"
        >
          <tip-tap-icon-color name="blue" />
        </button>
        <button
          v-if="actionName === 'toggleHighlight'"
          :class="{ 'is-active': editor.isActive('highlight', { color: '#b197fc' }) }"
          class="menubar__button"
          @click="editor.chain().focus().toggleHighlight({ color: '#b197fc' }).run()"
        >
          <tip-tap-icon-color name="purple" />
        </button>
        <button
          v-if="actionName === 'subscript'"
          :class="{ 'is-active': editor.isActive('subscript') }"
          class="menubar__button"
          @click="editor.chain().focus().toggleSubscript().run()"
        >
          <tip-tap-icon-material name="subscript" />
        </button>
        <button
          v-if="actionName === 'superscript'"
          :class="{ 'is-active': editor.isActive('superscript') }"
          class="menubar__button"
          @click="editor.chain().focus().toggleSuperscript().run()"
        >
          <tip-tap-icon-material name="superscript" />
        </button>
        <button
          v-if="actionName === 'FontFamily'"
          :class="{ 'is-active': editor.isActive('textStyle', { fontFamily: 'Inter' }) }"
          class="menubar__button"
          @click="editor.chain().focus().setFontFamily('Inter').run()"
        >
          <tip-tap-icon-material name="text_format" />
        </button>
        <button
          v-if="actionName === 'FontFamily'"
          :class="{
            'is-active': editor.isActive('textStyle', { fontFamily: 'Comic Sans MS, Comic Sans' })
          }"
          class="menubar__button"
          @click="editor.chain().focus().setFontFamily('Comic Sans MS, Comic Sans').run()"
        >
          <tip-tap-icon-material name="text_format" />
        </button>
        <button
          v-if="actionName === 'FontFamily'"
          :class="{ 'is-active': editor.isActive('textStyle', { fontFamily: 'serif' }) }"
          class="menubar__button"
          @click="editor.chain().focus().setFontFamily('serif').run()"
        >
          <tip-tap-icon-material name="text_format" />
        </button>
        <button
          v-if="actionName === 'FontFamily'"
          :class="{ 'is-active': editor.isActive('textStyle', { fontFamily: 'monospace' }) }"
          class="menubar__button"
          @click="editor.chain().focus().setFontFamily('monospace').run()"
        >
          <tip-tap-icon-material name="text_format" />
        </button>
        <button
          v-if="actionName === 'FontFamily'"
          :class="{ 'is-active': editor.isActive('textStyle', { fontFamily: 'cursive' }) }"
          class="menubar__button"
          @click="editor.chain().focus().setFontFamily('cursive').run()"
        >
          <tip-tap-icon-material name="text_format" />
        </button>
        <button
          v-if="actionName === 'FontFamily'"
          class="menubar__button"
          @click="editor.chain().focus().unsetFontFamily().run()"
        >
          <tip-tap-icon-material name="format_clear" />
        </button>
        <button
          v-if="actionName === 'textAlign'"
          :class="{ 'is-active': editor.isActive({ textAlign: 'left' }) }"
          class="menubar__button"
          @click="editor.chain().focus().setTextAlign('left').run()"
        >
          <tip-tap-icon-material name="format_align_left" />
        </button>
        <button
          v-if="actionName === 'textAlign'"
          :class="{ 'is-active': editor.isActive({ textAlign: 'center' }) }"
          class="menubar__button"
          @click="editor.chain().focus().setTextAlign('center').run()"
        >
          <tip-tap-icon-material name="format_align_center" />
        </button>
        <button
          v-if="actionName === 'textAlign'"
          :class="{ 'is-active': editor.isActive({ textAlign: 'right' }) }"
          class="menubar__button"
          @click="editor.chain().focus().setTextAlign('right').run()"
        >
          <tip-tap-icon-material name="format_align_right" />
        </button>
        <button
          v-if="actionName === 'textAlign'"
          :class="{ 'is-active': editor.isActive({ textAlign: 'justify' }) }"
          class="menubar__button"
          @click="editor.chain().focus().setTextAlign('justify').run()"
        >
          <tip-tap-icon-material
            :class="{ 'is-active': editor.isActive }"
            name="format_align_justify"
          />
        </button>
        <button
          v-if="actionName === 'textAlign'"
          class="menubar__button"
          @click="editor.chain().focus().unsetTextAlign().run()"
        >
          <tip-tap-icon-material name="format_align_left" />
        </button>
        <button
          v-if="actionName === 'setHardBreak'"
          class="menubar__button"
          @click="editor.chain().focus().setHardBreak().run()"
        >
          <tip-tap-icon-material name="keyboard_return" />
        </button>
        <button
          v-if="actionName === 'taskList'"
          :class="{ 'is-active': editor.isActive('taskList') }"
          class="menubar__button"
          @click="editor.chain().focus().toggleTaskList().run()"
        >
          <tip-tap-icon-material name="task" />
        </button>
        <button v-if="actionName === 'table'" class="menubar__button">
          <tip-tap-icon name="table" />
          <q-menu>
            <q-list style="min-width: 200px; max-width: 30em">
              <q-item>
                <q-item-section>
                  <button
                    v-if="actionName === 'table'"
                    class="menubar__button"
                    @click="
                      editor
                        .chain()
                        .focus()
                        .insertTable({ rows: 3, cols: 3, withHeaderRow: true })
                        .run()
                    "
                  >
                    <tip-tap-icon name="table" />
                  </button>
                </q-item-section>
              </q-item>
              <q-item>
                <q-item-section>
                  <button
                    v-if="actionName === 'table'"
                    class="menubar__button"
                    @click="editor.chain().focus().addColumnBefore().run()"
                  >
                    <tip-tap-icon name="add_col_before" />
                  </button>
                </q-item-section>
              </q-item>
              <q-item>
                <q-item-section>
                  <button
                    v-if="actionName === 'table'"
                    class="menubar__button"
                    @click="editor.chain().focus().addColumnAfter().run()"
                  >
                    <tip-tap-icon name="add_col_after" />
                  </button>
                </q-item-section>
              </q-item>
              <q-item>
                <q-item-section>
                  <button
                    v-if="actionName === 'table'"
                    class="menubar__button"
                    @click="editor.chain().focus().deleteColumn().run()"
                  >
                    <tip-tap-icon name="delete_col" />
                  </button>
                </q-item-section>
              </q-item>
              <q-item>
                <q-item-section>
                  <button
                    v-if="actionName === 'table'"
                    class="menubar__button"
                    @click="editor.chain().focus().addRowBefore().run()"
                  >
                    <tip-tap-icon name="add_row_before" />
                  </button>
                </q-item-section>
              </q-item>
              <q-item>
                <q-item-section>
                  <button
                    v-if="actionName === 'table'"
                    class="menubar__button"
                    @click="editor.chain().focus().addRowAfter().run()"
                  >
                    <tip-tap-icon name="add_row_after" />
                  </button>
                </q-item-section>
              </q-item>
              <q-item>
                <q-item-section>
                  <button
                    v-if="actionName === 'table'"
                    class="menubar__button"
                    @click="editor.chain().focus().deleteRow().run()"
                  >
                    <tip-tap-icon name="delete_row" />
                  </button>
                </q-item-section>
              </q-item>
              <q-item>
                <q-item-section>
                  <button
                    v-if="actionName === 'table'"
                    class="menubar__button"
                    @click="editor.chain().focus().deleteTable().run()"
                  >
                    <tip-tap-icon name="delete_table" />
                  </button>
                </q-item-section>
              </q-item>
              <q-item>
                <q-item-section>
                  <button
                    v-if="actionName === 'table'"
                    class="menubar__button"
                    @click="editor.chain().focus().mergeCells().run()"
                  >
                    mergeCells
                  </button>
                </q-item-section>
              </q-item>
              <q-item>
                <q-item-section>
                  <button
                    v-if="actionName === 'table'"
                    class="menubar__button"
                    @click="editor.chain().focus().splitCell().run()"
                  >
                    splitCell
                  </button>
                </q-item-section>
              </q-item>
              <q-item>
                <q-item-section>
                  <button
                    v-if="actionName === 'table'"
                    class="menubar__button"
                    @click="editor.chain().focus().toggleHeaderColumn().run()"
                  >
                    toggleHeaderColumn
                  </button>
                </q-item-section>
              </q-item>
              <q-item>
                <q-item-section>
                  <button
                    v-if="actionName === 'table'"
                    class="menubar__button"
                    @click="editor.chain().focus().toggleHeaderRow().run()"
                  >
                    toggleHeaderRow
                  </button>
                </q-item-section>
              </q-item>
              <q-item>
                <q-item-section>
                  <button
                    v-if="actionName === 'table'"
                    class="menubar__button"
                    @click="editor.chain().focus().toggleHeaderCell().run()"
                  >
                    toggleHeaderCell
                  </button>
                </q-item-section>
              </q-item>
              <q-item>
                <q-item-section>
                  <button
                    v-if="actionName === 'table'"
                    class="menubar__button"
                    @click="editor.chain().focus().mergeOrSplit().run()"
                  >
                    mergeOrSplit
                  </button>
                </q-item-section>
              </q-item>

              <q-item>
                <q-item-section>
                  <button
                    v-if="actionName === 'table'"
                    class="menubar__button"
                    @click="editor.chain().focus().setCellAttribute('colspan', 2).run()"
                  >
                    setCellAttribute
                  </button>
                </q-item-section>
              </q-item>
              <q-item>
                <q-item-section>
                  <button
                    v-if="actionName === 'table'"
                    class="menubar__button"
                    @click="editor.chain().focus().fixTables().run()"
                  >
                    fixTables
                  </button>
                </q-item-section>
              </q-item>
              <q-item>
                <q-item-section>
                  <button
                    v-if="actionName === 'table'"
                    class="menubar__button"
                    @click="editor.chain().focus().goToNextCell().run()"
                  >
                    goToNextCell
                  </button>
                </q-item-section>
              </q-item>
              <q-item>
                <q-item-section>
                  <button
                    v-if="actionName === 'table'"
                    class="menubar__button"
                    @click="editor.chain().focus().goToPreviousCell().run()"
                  >
                    goToPreviousCell
                  </button>
                </q-item-section>
              </q-item>
            </q-list>
          </q-menu>
        </button>
        <button
          v-if="actionName === 'unsetAllMarks'"
          class="menubar__button"
          @click="editor.chain().focus().unsetAllMarks().run()"
        >
          <tip-tap-icon-material name="clear" tooltip=" clear marks" />
        </button>
        <button
          v-if="actionName === 'clearNodes'"
          class="menubar__button"
          @click="editor.chain().focus().clearNodes().run()"
        >
          <tip-tap-icon-material name="clear" tooltip="clear nodes" />
        </button>
      </span>
    </div>
    <editor-content :editor="editor" class="editor__content" />
  </div>
</template>
<script>
import { Editor, EditorContent } from '@tiptap/vue-3'
import StarterKit from '@tiptap/starter-kit'
import TaskList from '@tiptap/extension-task-list'
import TaskItem from '@tiptap/extension-task-item'
import Image from '@tiptap/extension-image'
import TableRow from '@tiptap/extension-table-row'
import TableCell from '@tiptap/extension-table-cell'
import TableHeader from '@tiptap/extension-table-header'
import Link from '@tiptap/extension-link'
import Subscript from '@tiptap/extension-subscript'
import Superscript from '@tiptap/extension-superscript'
import Underline from '@tiptap/extension-underline'
import FontFamily from '@tiptap/extension-font-family'
import Placeholder from '@tiptap/extension-placeholder'
import Typography from '@tiptap/extension-typography'
import TextStyle from '@tiptap/extension-text-style'
import Table from '@tiptap/extension-table'
import Highlight from '@tiptap/extension-highlight'
import Focus from '@tiptap/extension-focus'
import TextAlign from '@tiptap/extension-text-align'
import { mapGetters } from 'vuex'
import { isJson } from 'src/utils'
import tipTapIcon from 'components/TiptapEditor/tipTapIcon'
import tipTapIconColor from 'components/TiptapEditor/tipTapIconColor'
import tipTapIconMaterial from 'components/TiptapEditor/tipTapIconMaterial'

export default {
  components: {
    EditorContent,
    tipTapIcon,
    tipTapIconColor,
    tipTapIconMaterial
  },

  props: {
    content: {
      type: String,
      default: ''
    },
    editable: {
      type: Boolean,
      default: false
    },
    activeButtons: {
      type: Array,
      validator: function (list) {
        for (const el of list) {
          if (
            [
              'bold',
              'italic',
              'strike',
              'underline',
              'code',
              'h1',
              'h2',
              'h3',
              'h4',
              'h5',
              'h6',
              'bulletList',
              'orderedList',
              'blockquote',
              'codeBlock',
              'horizontalRule',
              'undo',
              'redo',
              'addColumnafter',
              'addColumnBefore',
              'addRowAfter',
              'addRowBefore',
              'checklist',
              'combine_cells',
              'deleteColumn',
              'deleteRow',
              'deleteTable',
              'hr',
              'image',
              'link',
              'mention',
              'ol',
              'paragraph',
              'quote',
              'remove',
              'table',
              'insertTable',
              'ul',
              'unsetAllMarks',
              'clearNodes',
              'setHardBreak',
              'taskList',
              'addImage',
              'mergeCells',
              'splitCell',
              'toggleHeaderColumn',
              'toggleHeaderRow',
              'toggleHeaderCell',
              'mergeOrSplit',
              'setCellAttribute',
              'fixTables',
              'goToNextCell',
              'goToPreviousCell',
              'toggleHighlight',
              'subscript',
              'superscript',
              'FontFamily',
              'textAlign'
            ].indexOf(el) === -1
          ) {
            return -1
          }
        }
        return 1
      },
      default: () => [
        'bold',
        'italic',
        'strike',
        'underline',
        'code',
        'h1',
        'h2',
        'h3',
        'h4',
        'h5',
        'h6',
        'bulletList',
        'orderedList',
        'blockquote',
        'codeBlock',
        'horizontalRule',
        'undo',
        'redo',
        'addColumnafter',
        'addColumnBefore',
        'addRowAfter',
        'addRowBefore',
        'checklist',
        'combine_cells',
        'deleteColumn',
        'deleteRow',
        'deleteTable',
        'hr',
        'image',
        'link',
        'mention',
        'ol',
        'paragraph',
        'quote',
        'remove',
        'insertTable',
        'table',

        'ul',
        'unsetAllMarks',
        'clearNodes',
        'setHardBreak',
        'taskList',
        'addImage',
        'mergeCells',
        'splitCell',
        'toggleHeaderColumn',
        'toggleHeaderRow',
        'toggleHeaderCell',
        'mergeOrSplit',
        'setCellAttribute',
        'fixTables',
        'goToNextCell',
        'goToPreviousCell',
        'toggleHighlight',
        'subscript',
        'superscript',
        'FontFamily',
        'textAlign'
      ]
    }
  },
  emits: ['update:json'],

  data() {
    return {
      editor: null,
      editorContent: null,
      extensions: [
        StarterKit.configure({
          heading: {
            levels: [1, 2, 3, 4, 5, 6]
          }
        }),
        TaskList,
        TaskItem,
        Image,
        Table.configure({
          resizable: true
        }),
        TableRow,
        TableHeader,
        TableCell,
        Highlight.configure({ multicolor: true }),
        Link,
        Subscript,
        Superscript,
        Underline,
        Focus.configure({
          className: 'has-focus',
          mode: 'all'
        }),
        FontFamily,
        Placeholder,
        TextAlign.configure({
          types: ['heading', 'paragraph']
        }),
        Typography,
        TextStyle
        // Heading.configure({
        //   levels: [1, 2, 3,4,5,6],
        // }),
        // Title,
      ]
    }
  },

  methods: {
    setLink() {
      const url = window.prompt('URL')
      this.editor.chain().focus().setLink({ href: url }).run()
    },

    addImage() {
      const url = window.prompt('URL')
      if (url) {
        this.editor.chain().focus().setImage({ src: url }).run()
      }
    },
    parseContent(value) {
      const result = JSON.parse(value)
      // при переезде на новый tiptap изменились некоторые названия нод
      // для парсинга старой схемы ищу старые названия и заменяю новыми
      // если не нахожу сопоставления, то просто удаляю ненайденное, заменяя нодой "paragraph"
      const difference = {
        bullet_list: 'bulletList',
        code_block: 'codeBlock',
        hard_break: 'hardBreak',
        horizontal_rule: 'horizontalRule',
        list_item: 'listItem',
        ordered_list: 'orderedList',
        table_cell: 'tableCell',
        table_header: 'tableHeader',
        table_row: 'tableRow',
        todo_list: 'taskList', // (new name!)
        todo_item: 'taskItem' // (new name!)
      }
      // тут достаю из схемы известные типы нод и марки
      const nodes = new Set(Object.keys(this.editor.schema.nodes))
      const marks = new Set(Object.keys(this.editor.schema.marks))

      // функция рекурсивно обходит полученную схему и исправляет типы нод которые изменились в новой версии tiptap
      function objRecursion(obj) {
        let item
        for (const key in obj) {
          item = obj[key]
          if (typeof item === 'object') {
            if (difference.hasOwnProperty(item?.type)) {
              item.type = difference[item.type]
            }

            objRecursion(item)
          }
        }
      }

      objRecursion(result)
      // функция удаляет те типы нод и марки, которых нет в текущей схеме
      // иначе типтиап не может распарсить схему и ломается
      function objRecursionMarks(obj) {
        if (typeof obj === 'object') {
          if (obj.hasOwnProperty('content')) {
            if (obj.content.length > 0) {
              for (let i = 0; i < obj.content.length; i++) {
                const item = obj.content[i]

                if (typeof item === 'object') {
                  if (item.hasOwnProperty('marks')) {
                    item.marks = item.marks.filter(function (item) {
                      return marks.has(item.type)
                    })
                  }

                  if (item.hasOwnProperty('type')) {
                    if (!nodes.has(item.type)) {
                      item.type = 'paragraph'
                      item.content = [{ type: 'text', text: ' ' }]
                    }
                  }

                  objRecursionMarks(item)
                }
              }
            }
          }
        }
      }

      objRecursionMarks(result)
      return result
    },
    fillEditor(value) {
      if (isJson(value)) {
        this.editorContent = this.parseContent(value)
        this.editor.commands.setContent(this.editorContent, true)
      } else {
        this.editorContent = value
        this.editor.commands.setContent(value, true)
      }
    }
  },

  watch: {
    content(value, old) {
      // console.log(value);
      if (value !== old) {
        this.fillEditor(value)
      }
    },

    editable: {
      handler(newVal, oldVal) {
        if (this.editor !== null) {
          this.editor.setOptions({ editable: newVal })
        }
      },
      immediate: true
    }
  },

  mounted() {
    this.editor = new Editor({
      // content: isJson(this.content)?this.parseContent(this.content):this.content,             //this.editorContent,
      extensions: this.extensions,
      editable: this.editable,
      autofocus: false,

      onUpdate: () => {
        const json = this.editor.getJSON()
        this.$emit('update:json', json)
      }
    })
  },

  computed: {
    ...mapGetters({ user: 'siriusoauth/user', dark: 'UIstore/getDark' })
  },

  beforeUnmount() {
    this.editor.destroy()
  }
}
</script>
<!--<style lang="scss">
.has-focus {
  border-radius: 3px;
  box-shadow: 0 0 0 3px #68CEF8;
}

.is-active {
  border-radius: 3px;
  box-shadow: 0 0 0 3px #68CEF8;
}

/* Basic editor styles */
.ProseMirror {
  > * + * {
    margin-top: 0.75em;
  }

  ul,
  ol {
    padding: 0 1rem;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    line-height: 1.1;
  }

  code {
    background-color: rgba(#616161, 0.1);
    color: #616161;
  }

  pre {
    background: #0D0D0D;
    color: #FFF;
    font-family: 'JetBrainsMono', monospace;
    padding: 0.75rem 1rem;
    border-radius: 0.5rem;

    code {
      color: inherit;
      padding: 0;
      background: none;
      font-size: 0.8rem;
    }
  }

  img {
    max-width: 100%;
    height: auto;

    &.ProseMirror-selectednode {
      outline: 3px solid #68CEF8;
    }

  }

  blockquote {
    padding-left: 1rem;
    border-left: 2px solid rgba(#0D0D0D, 0.1);
  }

  hr {
    border: none;
    border-top: 2px solid rgba(#0D0D0D, 0.1);
    margin: 2rem 0;
  }

  ul[data-type="taskList"] {
    list-style: none;
    padding: 0;

    li {
      display: flex;
      align-items: center;

      > label {
        flex: 0 0 auto;
        margin-right: 0.5rem;
      }
    }
  }
}
</style>
<style lang="scss">
.ProseMirror {
  table {
    border-collapse: collapse;
    table-layout: fixed;
    width: 100%;
    margin: 0;
    overflow: hidden;

    td,
    th {
      min-width: 1em;
      border: 2px solid #ced4da;
      padding: 3px 5px;
      vertical-align: top;
      box-sizing: border-box;
      position: relative;

      > * {
        margin-bottom: 0;
      }
    }

    th {
      font-weight: bold;
      text-align: left;
      background-color: #f1f3f5;
    }

    .selectedCell:after {
      z-index: 2;
      position: absolute;
      content: "";
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      background: rgba(200, 200, 255, 0.4);
      pointer-events: none;
    }

    .column-resize-handle {
      position: absolute;
      right: -2px;
      top: 0;
      bottom: -2px;
      width: 4px;
      background-color: #adf;
      pointer-events: none;
    }
  }
}

.tableWrapper {
  padding: 1rem 0;
  overflow-x: auto;
}

.resize-cursor {
  //cursor: ew-resize;
  cursor: col-resize;
}
</style>
<style lang="scss">
mark {
  background-color: #ffe066;
}
</style>
<style lang="scss"
       scoped>
::v-deep(*) {
  /* Basic editor styles */
  .ProseMirror {
    > * + * {
      margin-top: 0.75em;
    }

    a {
      color: #68CEF8;
    }
  }

  /* Placeholder (at the top) */
  .ProseMirror p.is-editor-empty:first-child::before {
    content: attr(data-placeholder);
    float: left;
    color: #ced4da;
    pointer-events: none;
    height: 0;
  }

  /* Placeholder (on every new line) */
  /*.ProseMirror p.is-empty::before {
    content: attr(data-placeholder);
    float: left;
    color: #ced4da;
    pointer-events: none;
    height: 0;
  }*/
}
</style>-->
<style lang="sass">
@import 'sass/main'
</style>
<style lang="css">
.tiptap-editor {
  display: flex;
  /*
    padding-top: 100px;
  */
  box-sizing: border-box;
  flex-flow: column;

  /*align-items: center;*/
  /*  font-family: -apple-system, 'Noto Sans', 'Helvetica Neue', Helvetica,
    'Nimbus Sans L', Arial, 'Liberation Sans', 'PingFang SC',
    'Hiragino Sans GB', 'Noto Sans CJK SC', 'Source Han Sans SC',
    'Source Han Sans CN', 'Microsoft YaHei', 'Wenquanyi Micro Hei',
    'WenQuanYi Zen Hei', 'ST Heiti', SimHei, 'WenQuanYi Zen Hei Sharp',
    sans-serif;*/
}
</style>
