<template>
  <o-menubar-btn :tooltip="$o.lang.editor.hyperlink" class="o-link-btn" icon="link">
    <q-menu
      ref="linkPopover"
      :dark="dark"
      anchor="bottom middle"
      class="shadow-5"
      self="top middle"
      @show="onShow"
    >
      <q-list
        :style="{ width: width + 30 + 'px', height: height + 180 + 'px' }"
        class="o-meta-input no-scroll"
        dense
        @keyup.enter="insertLink"
      >
        <q-item>
          <q-item-section no-wrap>
            <q-item-label>Вставить ссылку </q-item-label>
          </q-item-section>
          <q-space />
          <q-item-section side>
            <q-checkbox v-model="openInNewTab" label="Открывать в новом окне" left-label />
          </q-item-section>
        </q-item>
        <!--                <span>{{ href | sanitizeurl }}</span>-->
        <q-item>
          <q-item-section>
            <q-input v-model="href" filled placeholder="https://universo.pro">
              <template v-slot:prepend>
                <q-icon name="link" />
              </template>
              <template v-slot:append>
                <q-icon class="cursor-pointer" name="cancel" @click.stop="href = ''" />
                <q-icon name="send" @click="insertLink">
                  <q-tooltip content-class="bg-accent">Сохранить</q-tooltip>
                </q-icon>
              </template>
            </q-input>
          </q-item-section>
        </q-item>
      </q-list>
    </q-menu>
  </o-menubar-btn>
</template>
<script>
import { OMenubarBtn } from 'quasar-tiptap'
import { mapGetters } from 'vuex'
import urlFilter from 'src/utils/filters/url.filter'

export default {
  name: 'o-link-btn',
  data() {
    return {
      href: '',
      openInNewTab: true,
      widthMin: 160,
      heightMin: 160,
      widthMax: 1200,
      heightMax: 900,
      widthWanted: 200,
      heightWanted: 200,
      dialogWidth: 310,
      dialogHeight: 250
    }
  },
  props: {
    commands: {
      type: Object
    },
    isActive: {
      type: Object
    },
    getMarkAttrs: {
      type: Function
    }
  },
  components: {
    OMenubarBtn
  },
  methods: {
    onShow() {
      this.href = ''
      this.openInNewTab = true

      const link = this.getMarkAttrs('link')
      if (link && link.href) {
        this.href = link.href
        this.openInNewTab = link.openInNewTab
      }
    },
    insertLink() {
      if (this.href !== '') {
        this.href = urlFilter(this.href)
      }
      this.commands.link({
        href: this.href,
        openInNewTab: this.openInNewTab
      })
    }
  },
  computed: {
    ...mapGetters({ dark: 'UIstore/getDark' }),
    width: function () {
      if (this.widthWanted >= this.widthMin && this.widthWanted <= this.widthMax) {
        return this.widthWanted / this.quality
      } else if (this.widthWanted < this.widthMin) {
        return this.widthMin / this.quality
      } else return this.widthMax / this.quality
    },
    height: function () {
      if (this.heightWanted >= this.heightMin && this.heightWanted <= this.heightMax) {
        return this.heightWanted / this.quality
      } else if (this.heightWanted < this.heightMin) {
        return this.heightMin / this.quality
      } else return this.heightMax / this.quality
    }
  }
}
</script>
<style lang="scss" scoped>
.o-link-btn {
}

.o-meta-input {
  min-width: 350px;
  padding: 15px;

  .title {
    font-size: 1.2rem;
    margin-bottom: 10px;
  }

  .fields {
    padding: 10px 0;

    .q-field--focused,
    .q-field--float {
      .q-field__control {
        box-shadow: unset !important;
      }
    }

    .hint {
      font-size: 0.8rem;
    }
  }

  .actions {
    /*border-top solid 1px #ccc*/
    padding-top: 10px;

    .q-btn {
      min-width: 100px;
    }
  }
}
</style>
